
<div id="checkout_indicator">
	<ol>
		<li id="Address" class=""><a href="address">Adresse</a></li>
		<li id="shipping" class="future"><a href="shipping">Fragt</a></li>
		<li id="approve" class="future"><a href="approve">Godkendelse</a></li>
		<li id="payment" class="future"><a href="payment">Betaling</a></li>
	</ol>
</div>