<div id="newsletterpopup" class="<{if $settings.Nyhedsbrevspopup.Placering == 'Hoejre'}>right<{elseif $settings.Nyhedsbrevspopup.Placering == 'Venstre'}>left<{/if}>" style="background:<{$settings.Nyhedsbrevspopup.Farve}>;color:<{$settings.Nyhedsbrevspopup.Tekstfarve}>;border-color:<{$settings.Nyhedsbrevspopup.Rammefarve}>">
    <div class="newsletterpopup-left">
        <{if $settings.Nyhedsbrevspopup.Billede}>
            <img src="<{$settings.Nyhedsbrevspopup.Billede->getSrc(350, 415, 'fit')}>" id="logo-img" alt="">
        <{/if}>
    </div>
    <div class="newsletterpopup-right" style="color:<{$settings.Nyhedsbrevspopup.Tekstfarve}>">
        <h3 class="newsletterpopup-headline"><{$settings.Nyhedsbrevspopup.Overskrift}></h3>
        <div class="newsletterpopup-text"><{$settings.Nyhedsbrevspopup.Tekst}></div>

        <form action="//govita.us12.list-manage.com/subscribe/post-json?u=babe216d1da17f440c80fb8ab&amp;id=8da52ebb8b&amp;c=?" id="newsletterpopup-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="required email" id="newsletterpopup-mail" placeholder="Indtast e-mail">
            <input type="submit" value="<{$settings.Nyhedsbrevspopup.CallToAction}>" name="subscribe" id="newsletterpopup-submit" class="btn btn-success">
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_babe216d1da17f440c80fb8ab_8da52ebb8b" tabindex="-1" value=""></div>
        </form>

    </div>

    <div class="newsletterpopup-thankyou">
        <{$settings.Nyhedsbrevspopup.Takketekst}>
    </div>

    <button id="newsletterpopup-deactivate">&times;</button>
</div>
<button id="newsletterpopup-reactivate" class="<{if $settings.Nyhedsbrevspopup.Placering == 'Hoejre'}>right<{elseif $settings.Nyhedsbrevspopup.Placering == 'Venstre'}>left<{/if}>" style="background:<{$settings.Nyhedsbrevspopup.Genaktiveringsfarve}>;color:<{$settings.Nyhedsbrevspopup.Genaktiveringstekstfarve}>;"><{$settings.Nyhedsbrevspopup.Genaktiveringstekst}></button>
<script type="text/javascript">var CookieLifeTime = <{$settings.Nyhedsbrevspopup.Cookielevetid}>; var popupDelay = <{$settings.Nyhedsbrevspopup.Forsinkelse}>; var minimumViews = <{$settings.Nyhedsbrevspopup.Antal_minimumsvisninger}>;</script>
