﻿<{strip}><footer id="sitefoot">
<div class="container">
    <div id="sitefoot-head">
        <div class="container"><div class="row"><div class="col-xs-12">
            <p>Du kan betale med Dankort, Visa/Dankort, forskellige kreditkort og MobilePay</p>
            <img src="<{$theme_url}>/img/epay-logo-pack/dankort_22.gif" alt="Dankort">
            <img src="<{$theme_url}>/img/epay-logo-pack/visa-22.gif" alt="Visa">
            <img src="<{$theme_url}>/img/epay-logo-pack/electron_22.gif" alt="Visa Electron">
            <img src="<{$theme_url}>/img/epay-logo-pack/master_22.gif" alt="Mastercard">
            <img src="<{$theme_url}>/img/epay-logo-pack/maestro_22.gif" alt="Maestro">
            <img src="<{$theme_url}>/img/epay-logo-pack/jcb_22.gif" alt="JCB">
            <img src="<{$theme_url}>/img/epay-logo-pack/amex_22.gif" alt="American Express">
            <img src="<{$theme_url}>/img/epay-logo-pack/mobilepay_22.gif" alt="Mobilepay">
        </div></div></div>
    </div>
    <div class="row">
        <div id="sitefoot-contactinfo" class="sitefoot-box col-xs-12 col-sm-6 col-md-3">
            <div class="sitefoot-box-inner">
                <h4>Govita.dk v/AdViva ApS</h4>
                c/o Workstation, Nymøllevej 50<br>
                2800 Kgs. Lyngby<br><br>
                <a href="tel:004531151870">Tlf. 31 15 18 70</a>
                <a href="">info@govita.dk</a><br><br>
                CVR. 31178088
            </div>
        </div><!--/#contactinfo-->
        <div id="sitefoot-categories" class="sitefoot-box col-xs-12  col-sm-6 col-md-3">
            <div class="sitefoot-box-inner">
                <h4>Mærker</h4>
                <ul>
                    <{assign var="menu" value=$webshop->getMenu("footerprodukt")}>
                    <{if $menu}>
                    <{assign var="items" value=$menu->getItems()}>

                    <{section name="i" loop=$items}>
                    <li class="<{$items[i]->getClass()|escape}>">
                        <{if $items[i]->getType() == "menu"}>

                        <{else}>
                        <a href="<{$items[i]->getUrl()|escape}>"><{$items[i]->getTitel()|escape}></a>
                        <{/if}>
                    </li>
                    <{/section}>

                    <{/if}>
                </ul>
            </div>
        </div><!--/#categories-->
        <div id="sitefoot-legalpages" class="sitefoot-box col-xs-12  col-sm-6  col-md-3">
            <div class="sitefoot-box-inner">
                <h4>Det praktiske</h4>
                <ul>
                    <{assign var="menu" value=$webshop->getMenu("footerpratical")}>
                    <{if $menu}>
                    <{assign var="items" value=$menu->getItems()}>

                    <{section name="i" loop=$items}>
                    <li class="<{$items[i]->getClass()|escape}>">
                        <{if $items[i]->getType() == "menu"}>

                        <{else}>
                        <a href="<{$items[i]->getUrl()|escape}>"><{$items[i]->getTitel()|escape}></a>
                        <{/if}>
                    </li>
                    <{/section}>

                    <{/if}>
                </ul>
            </div>
        </div><!--/#legalpages-->
        <div id="sitefoot-socialmedia" class="sitefoot-box col-xs-12  col-sm-6 col-md-3">
            <h4>Følg os på ...</h4>
            <div class="sitefoot-box-inner">
                <div id="facebook">
                    <div id="fb-root"></div><script>(function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (d.getElementById(id)) return;
                      js = d.createElement(s); js.id = id;
                      js.src = "//connect.facebook.net/da_DK/sdk.js#xfbml=1&appId=249239281778982&version=v2.3";
                      fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));</script>
                  <div class="fb-page" data-href="https://www.facebook.com/DKGoVita" data-width="300" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"></div>
              </div>
              <br><a href="https://www.instagram.com/dkgovita/" target=_blank>F&#248;lg&nbsp;GoVita.dk på Instagram</a>
	      <br><a href="https://www.youtube.com/user/kenschultzdk" target=_blank>F&#248;lg&nbsp;GoVita.dk på Youtube</a><br>
          </div>

          <{include file="mailchimp-footer.html"}>


      </div><!--/#socialmedia-->
  </div></div><!--/.row /.container-->
</footer><!--/#sitefoot-->
<br><br>
<{if $webshop->getHtmlField('zopim')}>
<{$webshop->getHtmlField('zopim')}>
<{/if}>

<{/strip}>