<{strip}>
<{assign var="profile" value=$product->getProfile()}>
<{assign var="attr" value=$profile->getAttributeList()}>
<{if $product->getIsInStock()}>
<form action="" method="post">
	<input type="hidden" name="product_id" value="<{$product->getProductId()}>"/>
	<input type="hidden" name="redirect" value="<{$product->getMetaValue('redirect')|escape}>"/>
	<div id="product-cta-action">
		<{if $product->hasVariant()}>
		<div class="product-variant-selecter" id="storrelse">
			
			
			<{section name="j" loop=$attr}>
			<div >
				<{if $attr[j]->getIsVariant()}>
				<{if $attr[j]->getDataType() == "valuelist"}>
				<{assign var="values" value=$attr[j]->getValues()}>
				<select name="attributes[<{$attr[j]->getAttributeId()}>]" id="a<{$attr[j]->getAttributeId()}>" class="attribute required variant" required>
					<option value="" disabled="disabled" selected>Vælg størrelse</option>
					<{section name="k" loop=$values}>
					<{assign var="attribute_price" value=$product->getAttributePrice($values[k]->getAttributeValueId())}>
					<{if $product->getInStock($attr[j]->getAttributeId(), $values[k]->getAttributeValueId()) > 0}>
					<option value="<{$values[k]->getAttributeValueId()}>" data-stockamount="<{$product->getInStock($attr[j]->getAttributeId(), $values[k]->getAttributeValueId())}>">
						<{$values[k]->getVal()|escape}> 
						<{if $attribute_price}>
						[<{$attribute_price|number_format:2:",":"."}> <{$webshop->getCurrency()}>]
						<{/if}>
					</option>
					<{else}>
					                        	<!--<option value="<{$values[k]->getAttributeValueId()}>" disabled="disabled"><{$values[k]->getVal()|escape}><{if $attribute_price}>[<{$attribute_price|number_format:2:",":"."}> <{$webshop->getCurrency()}>]<{/if}>&nbsp;(Udsolgt)
					                        </option>-->
					                        <{/if}>
					                        <{/section}>
					                    </select>
					                    <{elseif $attr[j]->getDataType() == "string"}>
					                    <input type="text" name="attributes[<{$attr[j]->getAttributeId()}>]" id="a<{$attr[j]->getAttributeId()}>" class="attribute"/>
					                    <{elseif $attr[j]->getDataType() == "integer"}>
					                    <input type="text" name="attributes[<{$attr[j]->getAttributeId()}>]" id="a<{$attr[j]->getAttributeId()}>" class="attribute"/>
					                    <{elseif $attr[j]->getDataType() == "boolean"}>
					                    <input type="checkbox" name="attributes[<{$attr[j]->getAttributeId()}>]" value="1" id="a<{$attr[j]->getAttributeId()}>" class="attribute"/>
					                    <{/if}>
					    <{else}><!--
					    	<div>
					            <{if $attr[j]->getName() != "Orientering"}>
					            <strong><{$attr[j]->getName()|escape}>: </strong>
					            <{if $attr[j]->getDataType() == "currencyvalue"}>
					            <{elseif $attr[j]->getDataType() == "valuelist"}>
					                <{$product->getAttributeValue($attr[j]->getAttributeId())}>
					            <{elseif $attr[j]->getDataType() == "string"}>
					                <{$product->getAttributeValue($attr[j]->getAttributeId())}>
					            <{elseif $attr[j]->getDataType() == "integer"}>
					                <{$product->getAttributeValue($attr[j]->getAttributeId())}>
					            <{elseif $attr[j]->getDataType() == "floatingpoint"}>
					                <{$product->getAttributeValue($attr[j]->getAttributeId())}>
					            <{elseif $attr[j]->getDataType() == "datetime"}>
					                <{$product->getAttributeValue($attr[j]->getAttributeId())}>
					            <{elseif $attr[j]->getDataType() == "boolean"}>
					                <{if $product->getAttributeValue($attr[j]->getAttributeId())}>Ja<{else}>Nej<{/if}>
					            <{/if}>
					        </div>-->
					        <{/if}>
					        <{/if}>
					    </div>
					    <{/section}>
					    
					</div>
					<{else}>
					<input type="hidden" id="single-stock-amount" value="<{$product->getInStock($attributes[0].id, $attributes[0].value_id)}>">
					<{/if}>
					<div class="input-group">
						<input type="text" class="form-control input-amount" name="amount" id="amount-input" value="1">
						<span class="input-group-btn">
							<button  id="putinbasket" class="btn btn-primary putinbasket" type="submit" value=" " type="button">Læg i kurv</button>
						</span>
					</div><!-- /input-group -->
				</div>
			</form>
			<{else}>

			<form action="" method="post">
				<p>Varen er ikke på lager. Få en mail, når den kommer på lager igen</p>
				<input type="hidden" name="out_of_stock_signup" value="1"/>
				<input type="hidden" name="product_id" value="<{$product->getProductId()}>"/>				
				<input type="hidden" name="newsletter" value="1" checked="checked"/>
				<input type="email" style="width:100%; height: 36px; float : left; margin: 0 0 10px;" name="email" placeholder="Din e-mail-adresse"/>
				<input type="submit" style="width: 100%; float :left;" class="btn btn-primary putinbasket kd-icon-kidsdelux-basket3" value="Ja giv mig besked"/>
				<small style="width: 100%; margin: auto;display: inline-block;" class="text-center">(Du bliver samtidigt tilmeldt vores nyhedsbrev)</small>

				
			</form>			

			<{/if}>                                     

			<{/strip}>