<div class="subpage paymentpage">

	<div id="site" class="">

		<header id="sitehead">

			<div class="container"><div class="row">

				<div class="col-xs-12" id="logo-container"><a href="/" id="logo"><img src="<{$theme_url}>/img/govita_logo.svg" id="logo-img"></a></div>

			</div></div><!--/.container .row-->

		</header><!--/#sitehead-->

		<section id="sitecontent">

			<section id="checkout-content">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<{include file="_include_checkout_indicator.html"}>
						</div>
						<div class="col-sm-6">
							<div id="basket-persuasion">
								<p><strong>Spørgsmål?</strong> Så ring på <a href="tel:004531151870">Tlf. 31151870</a></p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h1>Godkend ordre</h1>
							<form action="" method="post">
								<h3>E-mail-adresse</h3>
								<p><{$session_order.email|escape}></p>

								<h3>Faktureringsadresse</h3>
								<p><{$session_order.name|escape}><br/>
									<{$session_order.address|escape}><br/>
									<{$session_order.zipcode|escape}> <{$session_order.city|escape}><br/>
									<{$session_order.country_name|escape}><p>

									<a class="editAddressBtn btn btn-default">Rediger faktureringsadresse</a>

									<h3>Leveringsadresse</h3>
									<p><{$session_del.name|escape}><br/>
										<{$session_del.address|escape}><br/>
										<{$session_del.zipcode|escape}> <{$session_del.city|escape}><br/>
										<{$session_del.country_name|escape}><p>

										<a class="editAddressBtn btn btn-default">Rediger leveringsadresse</a>

										<{if $shipping}>
										<h3>Leveringsmetode</h3>
										<p><{$shipping->getName()|escape}> (<{$shipping->getCost()|number_format:2:",":"."}> DKK)<p>
											<{/if}>

											<h3>Din bestilling</h3>
											<{section name="i" loop=$basket}>
											<{assign var="product" value=$basket[i].product}>

											<p><{$basket[i].amount}> stk. <{$product->getName()}>
												<{assign var="attributes" value=$basket[i].attributes}>
												<{if $attributes}>
												<small>
													(<{foreach from=$attributes item=a name="loop"}><{$a.name|escape}>: <{$a.value|escape}><{if !$smarty.foreach.loop.last}> &middot; <{/if}><{/foreach}>)
												</small>
												<{/if}>
												(<{$product->getRealPrice($basket[i].amount, $basket[i].attributes)|number_format:2:",":"."}> DKK)
											</p>
											<{/section}>


											<h3>Pris inkl. levering:</h3>
											<p><{$total_price|number_format:2:",":"."}> DKK</p>

											<input id=""  class="btn btn btn-lg btn-default" type="button" name="prev" value="&laquo; Fragt" onclick="history.go(-1);"/>
											<input id="checkout-next-btn" class="btn btn-lg btn-primary" type="submit" name="next" value="Gå til betaling &raquo;" class="ok"/>
										</form>

									</div>
								</div>
							</div>
						</section>


						<div id="changeAddress">
							<div class="container">
								<div class="row">
						            <div class="col-xs-12 col-sm-12 changeAddressStyle" id="addresses">
						            	<div class="">
						                <h1>Rediger dine oplysninger</h1>
						                <button id="changeAddress-close" class="takeover-close">×</button>
						                <form action="" method="post" autocomplete="true">
						                    <div id="payment-address">
						                        <div class="form-row form-row-input">
						                            <label for="order_name">Navn</label>
						                            <input type="text" name="order_name" value="<{$session_order.name|escape}>" id="order_name" placeholder="Navn" class="" required/>
						                        </div>
						                        <div class="form-row form-row-input">
						                            <label for="order_address">Adresse</label>
						                            <input type="text" name="order_address" value="<{$session_order.address|escape}>" id="order_address" placeholder="Adresse" class="" required/>
						                        </div>
						                        <div class="form-row form-row-input">
						                            <div class="form-row-zip">
						                                <label for="order_zipcode">Postnr.</label>
						                                <input type="number" pattern="[0-9]*" inputmode="numeric" name="order_zipcode" value="<{$session_order.zipcode|escape}>" id="order_zipcode" placeholder="Postnr."  required/>
						                            </div>
						                            <div class="form-row-city">
						                                <label for="order_city">By</label>
						                                <input type="text" name="order_city" value="<{$session_order.city|escape}>" id="order_city" placeholder="By"  required/>
						                            </div>
						                        </div>

						                        <div class="form-row form-row-input">
						                            <{assign var="countries" value=$webshop->getCountries()}>
						                            <{if $countries}>
						                            <{section name="i" loop=$countries}>
						                            <{if $session_del.country_id == $countries[i]->getCountryId()}>
						                            <label for="order_country_id_display" class="show">Land</label>
						                            <input type="text" name="order_country_id_display" disabled value="<{$countries[i]->getName()|escape}>" id="order_country_display" class="address-select">
						                            <input type="hidden" value="<{$countries[i]->getCountryId()}>" id="order_country" name="order_country_id">
						                            <{/if}>

						                            <{/section}>
						                            <{/if}>
						                            <!-- <a href="javascript:window.history.back(-1);" id="new-country-link">« Vælg andet land</a> -->
						                        </div>

						                        <{if $session_del.country_id != 1431}>
						                        <{assign var="shippings" value=$webshop->getShippings()}>
						                        <div style="display: none">
						                            <{section name="i" loop=$shippings}>
						                            <input class="shipping" type="radio" module="<{$shippings[i]->getModule()|escape}>" value="<{$shippings[i]->getShippingId()}>" name="shipping_id" id="shipping<{$shippings[i]->getShippingId()}>" checked="checked"/>
						                            <{/section}>
						                        </div>
						                        <{/if}>


						                        <div class="form-row form-row-input">
						                            <label for="email">Email</label>
						                            <input type="email" name="email" value="<{$session_order.email|escape}>" id="email" placeholder="Email" class="" required/>
						                        </div>
						                        <div class="form-row form-row-input">
						                            <label for="phone">Telefonnummer</label>
						                            <input type="tel" name="phone" value="<{$session_order.phone|escape}>" id="phone" placeholder="Telefonnr." class="" required />
						                        </div>
						                        <div class="form-row form-row-textarea">
						                            <label class="label" for="comments">Har du en kommentar?</label><br><small>Hvis du køber via EAN nummer så angiv det herunder</small><br>
						                            <textarea name="comments" rows="5" cols="10"><{$session_order.comments|escape}></textarea>
						                        </div>
						                    </div>
						                    <!--/#payment-address-->

						                    <div>
						                        <h3>Leveringsadresse</h3>
						                        <div class="form-row form-row-input">
						                            <label for="del_name">Navn</label>
						                            <input type="text" name="del_name" value="<{$session_del.name|escape}>" placeholder="Navn" id="del_name"/>
						                        </div>
						                        <div class="form-row form-row-input">
						                            <label for="del_address">Adresse</label>
						                            <input type="text" name="del_address" value="<{$session_del.address|escape}>" placeholder="Adresse" id="del_address"/>
						                        </div>
						                        <div class="form-row form-row-input">
						                            <div class="form-row-zip">
						                                <label for="del_zipcode">Postnr.</label>
						                                <input type="number" pattern="[0-9]*" inputmode="numeric" name="del_zipcode" value="<{$session_del.zipcode|escape}>" placeholder="Postnr." id="del_zipcode" />
						                            </div>
						                            <div class="form-row-city">
						                                <label for="del_city">By</label>
						                                <input type="text" name="del_city" value="<{$session_del.city|escape}>" placeholder="By" id="del_city" />
						                            </div>
						                        </div>
						                    </div>
						                    <!--/#shipping-address-->

						                	<button type="submit" name="next" id="updateAddress" class="btn btn-primary btn-lg pull-right inactive" onClick="_gaq.push(['_trackEvent', 'Checkout', 'Nextstep', 'Approve']);">Ret oplysninger</button>
						                </form>

						            </div>
						            <!--/#addresses-->



						        </div>
					        </div>
						</div>


					</section><!--/#sitecontent-->

					<footer id="sitefoot">
						<div id="sitefoot-head">
							<div class="container"><div class="row"><div class="col-xs-12">
								<img src="<{$theme_url}>/img/epay-logo-pack/dankort_22.gif" alt="Dankort">
								<img src="<{$theme_url}>/img/epay-logo-pack/visa-22.gif" alt="Visa">
								<img src="<{$theme_url}>/img/epay-logo-pack/electron_22.gif" alt="Visa Electron">
								<img src="<{$theme_url}>/img/epay-logo-pack/master_22.gif" alt="Mastercard">
								<img src="<{$theme_url}>/img/epay-logo-pack/maestro_22.gif" alt="Maestro">
								<img src="<{$theme_url}>/img/epay-logo-pack/jcb_22.gif" alt="JCB">
								<img src="<{$theme_url}>/img/epay-logo-pack/amex_22.gif" alt="American Express">
								<img src="<{$theme_url}>/img/epay-logo-pack/mobilepay_22.gif" alt="Mobilepay">
							</div></div></div>
						</div>
					</footer><!--/#sitefoot-->

				</div><!--/#site-->




    <!--
             _     Built with love and             _ _
         ___| |_ ___ ___ ___ ___ ___ _____ ___   _| | |_
        |_ -|   | . | . | . |  _| .'|     | .'|_| . | '_|
        |___|_|_|___|  _|___|_| |__,|_|_|_|__,|_|___|_,_|
                    |_|

                -->

            </div>