<{strip}><div class="subpage basketpage">

<div id="site" class="">

	<header id="sitehead">
		<div class="container"><div class="row">
			<div class="col-xs-12 col-sm-12" id="logo-container"><a href="/" id="logo" alt="GoVita - Produkter til et bedre liv"><img src="<{$theme_url}>/img/govita_logo.svg" id="logo-img"></a></div>
		</div></div><!--/.row /.container-->
	</header><!--/#sitehead-->


	<section id="sitecontent">


	</section>

	<section id="checkout-content">
		<div class="container">

			<div class="row">
				<div class="col-xs-12">
					<div id="basket-persuasion">
						<p><strong>Spørgsmål?</strong> Så ring på <a href="tel:004531151870">Tlf. 31151870</a></p>
					</div>
					<h1 class="basket-header">Indhold i kurven</h1>
					<{if $get.s == "NaN"}>
					<div id="outofstock-message">En eller flere varer i kurven er ikke på lager - det kan skyldes at den er blevet solgt i mellemtiden.</div>
					<{/if}>
					<form class="form-inline" role="form" id="form" method="post" action="">
						<ul id="basket-content-list">
							<li class="row" id="basket-content-listhead">
								<span class="col-xs-6 col-sm-8 col-md-9 left">Produkt</span><span class="col-xs-6 col-sm-4 col-md-3 right">Pris</span>
							</li>

							<{section name="i" loop=$basket}>
							<{assign var="product" value=$basket[i].product}>
							<li class="basket-content-listitem">
								<div class="col-xs-12 col-sm-8 col-md-9 left">
									<input type="hidden" name="amount[<{$basket[i].id}>]" value="<{$basket[i].amount}>"/>
									<button class="removefrombasket pull-right btn btn-xs" name="remove_product" value="<{$basket[i].id}>"><i class="icon-close"></i> <span>Fjern fra kurven</span></button>
									<span class="basket-content-listitem-amount"><{$basket[i].amount}> stk.</span> <a href="<{$product->getUrl()|escape}>"><{$product->getName()|escape}>
									<{assign var="attributes" value=$basket[i].attributes}>
									<{if $attributes}>
									<div class="basket-content-listitem-attr">
										<{foreach from=$attributes item=a}>
										<span><{$a.name|escape}>: <{$a.value|escape}></span>
										<{/foreach}>
									</div>
									<{/if}>
								</a></div>
								<div class="col-xs-12 col-sm-4 col-md-3 right"><{$webshop->getCurrency()}> <{$product->getRealPrice($basket[i].amount, $basket[i].attributes)|number_format:2:",":"."}></div>
							</li>
							<{/section}>

						</ul>
						<div id="basket-shipping-method"></div>
						<div id="basket-voucher-line">
							<{if $voucher}>

							<{if $voucher->getPercentDiscount()}>
							Du får <{$voucher->getPercentDiscount()}> % rabat!</p>
							<{/if}>

							<{if $voucher->getPriceDiscount()}>
							Du får <{$voucher->getPriceDiscount()}> <{$webshop->getCurrency()}> rabat!</p>
							<{/if}>

							<{if $voucher->getFreeShipping()}>
							Du får fragten gratis!
							<{/if}>

							<{/if}>
						</div>

						<{if $countries}>
						<div>
							<select name="del_country_id" onchange="$('#form').submit();" id="basket-country" required>
								<option value="" disabled>Vælg land</option>
								<{section name="i" loop=$countries}>
								<option value="<{$countries[i]->getCountryId()}>" <{if $session_del.country_id == $countries[i]->getCountryId()}>selected="selected"<{/if}>><{$countries[i]->getName()|escape}></option>
								<{/section}>
							</select>
						</div>
						<{/if}>

						<div id="basket-summary">
							<span id="basket-vat">Moms udgør: <{$webshop->getCurrency()}> <{$vat|number_format:2:",":"."}></span>
							<span id="basket-content-shipping">Fragt (leveres til) <span class="country-selecter"><{assign var="countries" value=$webshop->getCountries()}>
								<{if $countries}>
								<select name="del_country_id" onchange="$('#form').submit();" id="basket-country" required>
									<option value="" disabled>Vælg land</option>
									<{section name="i" loop=$countries}>
									<option value="<{$countries[i]->getCountryId()}>" <{if $session_del.country_id == $countries[i]->getCountryId()}>selected="selected"<{/if}>><{$countries[i]->getName()|escape}></option>
									<{/section}>
								</select>
								<{/if}></span><{if !$session_del.country_id OR $session_del.country_id == 870}> <{else}>: <{$webshop->getCurrency()}> <{$shipping_price|number_format:2:",":"."}> <{/if}></span>
								<span id="buy-more-free-shipping">
									<{if $shipping_country && intval($shipping_country->getFreeAbove())}>
									<{if $shipping_country->getFreeAbove() gt $price}>
									<small>Køb for <strong><{math equation="x - y" x=$shipping_country->getFreeAbove() y=$price}> kr.</strong> mere for at få gratis fragt.
									</small>
									<{/if}>
									<{/if}>
								</span>

							</div>
							<{if !$session_del.country_id}>
							<div id="basket-shipping-shop-select">
								<{assign var="shippings" value=$webshop->getShippings()}>
								<{section name="i" loop=$shippings}>
								<label class="line" for="shipping<{$shippings[i]->getShippingId()}>">
									<input class="shipping" type="radio" onclick="updateform();" module="<{$shippings[i]->getModule()|escape}>" value="<{$shippings[i]->getShippingId()}>" name="shipping_id" id="shipping<{$shippings[i]->getShippingId()}>" <{if $session_del.shipping_id == $shippings[i]->getShippingId()}>checked="checked"<{/if}>/>
									<span class="shipping-name"><{$shippings[i]->getName()|escape}></span>
									<span class="shipping-price"><{$shippings[i]->getCost()|number_format:2:",":"."}> <{$webshop->getCurrency()}></span>
								</label>
								<{/section}>
							</div>
							<{else}>
							<{if $session_del.country_id == 870}>
							<div id="basket-shipping-shop-select">
								<{assign var="shippings" value=$webshop->getShippings()}>
								<{section name="i" loop=$shippings}>
								<label class="line" for="shipping<{$shippings[i]->getShippingId()}>">
									<input class="shipping" type="radio" onclick="updateform();" module="<{$shippings[i]->getModule()|escape}>" value="<{$shippings[i]->getShippingId()}>" name="shipping_id" id="shipping<{$shippings[i]->getShippingId()}>" <{if $session_del.shipping_id == $shippings[i]->getShippingId()}>checked="checked"<{/if}>/>
									<span class="shipping-name"><{$shippings[i]->getName()|escape}></span>
									<span class="shipping-price"><{$shippings[i]->getCost()|number_format:2:",":"."}> <{$webshop->getCurrency()}></span>
								</label>
								<{/section}>
							</div>
							<{else}>
							<div style="display : none;">
								<{assign var="shippings" value=$webshop->getShippings()}>
								<{section name="i" loop=$shippings}>
								<label class="line" for="shipping<{$shippings[i]->getShippingId()}>">
									<input class="shipping" type="radio" onclick="updateform();" module="<{$shippings[i]->getModule()|escape}>" value="<{$shippings[i]->getShippingId()}>" name="shipping_id" id="shipping<{$shippings[i]->getShippingId()}>" checked="checked"/>
									<span><{$shippings[i]->getName()|escape}></span>
									<span><{$shippings[i]->getCost()|number_format:2:",":"."}> <{$webshop->getCurrency()}></span>
								</label>
								<{/section}>
							</div>
							<{/if}>
							<{/if}>
							<div id="basket-total">Total: <span><{$webshop->getCurrency()}> <{$total_price|number_format:2:",":"."}></span></div>
							<div id="financing" style="text-align:right"><div class="viabill-pricetag" view="basket" price="<{$total_price|number_format:2:".":"."}>"></div></div>
							<div id="basket-nextstep">
								<div class="row">
									<div id="basket-voucher" class="col-xs-12 col-sm-5">
										<div>Fået et gavekort? Indtast kode her:</div>
										<div style="position:relative">
											<input type="text" class="<{if $voucher}>voucher-active<{/if}>" name="voucher" value="<{$voucher|escape}>" placeholder="Gavekort-kode" />
											<button class="btn btn-default <{if $voucher}>voucher-active<{/if}>" type="submit" name="opdate"><{if $voucher}><i class="icon-grin"></i><{else}>Aktivér<{/if}></button>
										</div>
									</div>
									<div class="col-xs-12 col-sm-7 pull-right">
										<input type="submit" value="Gå til levering"  id="checkout-next-btn" class="btn btn-primary btn-lg" name="next">
									</div>
								</div>
							</div>


						</div>
					</form>



				</div></div></div>
			</section>


		</section><!--/#sitecontent-->

		<footer id="sitefoot">
			<div id="sitefoot-head">
				<div class="container"><div class="row"><div class="col-xs-12">
					<img src="<{$theme_url}>/img/epay-logo-pack/dankort_22.gif" alt="Dankort">
					<img src="<{$theme_url}>/img/epay-logo-pack/visa-22.gif" alt="Visa">
					<img src="<{$theme_url}>/img/epay-logo-pack/electron_22.gif" alt="Visa Electron">
					<img src="<{$theme_url}>/img/epay-logo-pack/master_22.gif" alt="Mastercard">
					<img src="<{$theme_url}>/img/epay-logo-pack/maestro_22.gif" alt="Maestro">
					<img src="<{$theme_url}>/img/epay-logo-pack/jcb_22.gif" alt="JCB">
					<img src="<{$theme_url}>/img/epay-logo-pack/amex_22.gif" alt="American Express">
					<img src="<{$theme_url}>/img/epay-logo-pack/mobilepay_22.gif" alt="Mobilepay">
				</div></div></div>
			</div>
		</footer><!--/#sitefoot-->
	</div>
	<!-- Scripts -->
	<script type="text/javascript">
		function updateform() {
			$('#form').submit();
		}
	</script>

<!--
         _     Built with love and             _ _
     ___| |_ ___ ___ ___ ___ ___ _____ ___   _| | |_
    |_ -|   | . | . | . |  _| .'|     | .'|_| . | '_|
    |___|_|_|___|  _|___|_| |__,|_|_|_|__,|_|___|_,_|
                |_|

            -->

        </div><{/strip}>