<{capture name="title"}><{$category->getName()}><{/capture}>

<div class="subpage listpage">
  <div id="site" class="">
   <{include file="_include_header.html"}>

   <section id="sitecontent">
    <{include file="_include_breadcrumbs.html"}>
    <section id="product-list-head">
      <div class="container"><div class="row"><div class="col-xs-12">
            <h1><{$category->getName()|escape}></h1>
        </div></div></div>
      </section>

    <section class="cat-description descA">
        <div class="container">
            <{$category->getDescriptionA()}>
        </div>
    </section>


          <{assign var="subcats" value=$category->getChildren()}>

          <{if $subcats}>

            <section class="categorylist subcats">
                <div class="container"><div class="row">

                  	<{section name="i" loop=$subcats}>
                        <div class="col-xs-6 col-sm-4 col-lg-3 category-teaser">
                            <div class="category-layout">
                                <a href="<{$subcats[i]->getUrl()|escape}>" class="category-teaser-inner">
                                    <{assign var="images" value=$subcats[i]->getImages()}>
                                    <{if $images}>
                                        <{section name="j" loop=$images start=0 max=1}>
                                            <img class="category-teaser-image" src="<{$images[j]->getSrc(400,400,'box')}>">
                                        <{/section}>
                                    <{/if}>
                                    <div class="category-teaser-title">
                                        <{$subcats[i]->getName()|escape}>
                                    </div>
                                </a>
                            </div>
                        </div>
                  	<{/section}>

                </div></div><!--/.container .row-->
            </section>

          <{else}>


            <{* include file="product-list-filter.html" *}>

              <section id="products">
                <div class="container"><div class="row">
                  <div id="noproducts">Vi har desværre ingen produkter der matcher dine kriterier</div>

                  <ul class="product-list" itemscope itemtype="http://schema.org/ItemList">

                    <{section name="i" loop=$products}>
                    <{include file="inner_product.html" product=$products[i]}>
                    <{/section}>

                  </ul>

                </div></div><!--/.container .row-->
              </section>
           <{/if}>

          <section class="cat-description descB">
              <div class="container">
                  <{$category->getDescriptionB()}>
              </div>
          </section>

          <{include file="page-persuasion.html"}>


        </section><!--/#sitecontent-->

        <{include file="_include_footer.html"}>


      </div><!--/#site-->

      <{include file="side_basket.html"}>



<!--
         _     Built with love and             _ _
     ___| |_ ___ ___ ___ ___ ___ _____ ___   _| | |_
    |_ -|   | . | . | . |  _| .'|     | .'|_| . | '_|
    |___|_|_|___|  _|___|_| |__,|_|_|_|__,|_|___|_,_|
                |_|

              -->

            </div>