<{strip}><div id="cookiepolicy">
    <button class="closebtn">&times;</button>
    <div class="container"><div class="row">
        <div class="col-xs-12" id="cookiepolicy-inner">Websitet anvender cookies til at huske dine indstillinger og statistik. Denne information deles med tredjepart. Ved at lukke eller forsætte på sitet accepterer du. <a href="">Læs mere her »</a> </div>
    </div></div> 
</div><!--/#cookiepolicy--><{/strip}>