<{strip}>
    <div class="frontpage">
        <div id="site" class="">
            <{include file="_include_header.html"}>
                <div id="sitecontent">
                    <section id="brandidentity">
                        <h1 style=""><{if $settings.forside.Forsidetekst}><{$settings.forside.Forsidetekst}><{/if}></h1>
                        <div id="frontpage-search" class="container">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                                </div>
                            </div>
                        </div>
                    </section>
                    <{if $settings.forside.Forsidebillede}>
                        <style>
                            @media(max-width:767px){#brandidentity{background-image: url(<{$settings.forside.Forsidebillede->getSrc(800, 400, 'fit')}>)}}
                            @media(min-width:768px) and (max-width:939px){#brandidentity{background-image: url(<{$settings.forside.Forsidebillede->getSrc(940, 600, 'fit')}>)}}
                            @media(min-width:940px){#brandidentity{background-image: url(<{$settings.forside.Forsidebillede->getSrc(1600, 1000, 'fit')}>)}}
                        </style>
                    <{/if}>
                    <!--/#brandidentity-->
                    <section class="categorylist">
                        <div class="container">
                            <div class="row">
                                <{assign var="frontpagecats" value=$webshop->getCategoriesByTags('forsiden')}>
                                <{if $frontpagecats}>
                                    <{section name="i" loop=$frontpagecats}>
                                        <div class="col-xs-6 col-sm-3 category-teaser">
                                            <div class="category-layout">
                                                <a href="<{$frontpagecats[i]->getUrl()|escape}>" class="category-teaser-inner">
                                                    <{assign var="images" value=$frontpagecats[i]->getImages()}>
                                                    <{if $images}>
                                                        <{section name="j" loop=$images start=0 max=1}>
                                                            <img class="category-teaser-image" src="<{$images[j]->getSrc(400,400,'box')}>" alt="<{$frontpagecats[i]->getName()|escape}>">
                                                        <{/section}>
                                                    <{/if}>
                                                    <div class="category-teaser-title">
                                                        <{$frontpagecats[i]->getName()|escape}>
                                                    </div>
                                                </a>
                                                <div class="category-teaser-description">
                                                    <{*$frontpagecats[i]->getDescriptionA()*}>
                                                    <{assign var=subcats value=$frontpagecats[i]->getChildren()}>
                                                    <{if $subcats}>
                                                    	<{section name="k" loop=$subcats}>

	                                                        <a href="<{$subcats[k]->getUrl()|escape}>"><{$subcats[k]->getName()|escape}></a><br>
	                                                    <{/section}>
                                                    <{/if}>
                                                </div>

                                            </div>
                                        </div>
                                    <{/section}>
                                <{/if}>

                            </div>
                        </div>
                        <!--/.row /.container-->
                    </section>
                    <!--/#categorylist-->
                    <section id="highlighted-products">
                        <h2 class="section-header">Udvalgte produkter</h2>
                        <div class="container">
                            <div class="row">
                                <ul class="product-list" itemscope itemtype="http://schema.org/ItemList">
                                    <{assign var="products" value=$category->getOnlineProducts()}>
                                        <{section name="i" loop=$products start=0 max=8}>
                                            <{include file="inner_product.html" product=$products[i]}>
                                        <{/section}>
                                </ul>
                                <div class="col-xs-12 morelink-container">
                                    <a href="/udvalgte-produkter" class="more">Se flere udvalgte produkter</a>
                                </div>
                            </div>
                        </div>
                        <!--/.row /.container-->
                    </section>
                    <!--/#highlighted-products-->
                    <{include file="page-persuasion.html" }>
                        <section id="instafeed-container">
                            <a target="_blank" href="https://www.instagram.com/dkgovita/">
                                <h3 class="section-header">Følg os på Instagram: <strong>DKGOVITA</strong></h3>
                                <div id="instafeed" class="container"></div>
                            </a>
                        </section>
                </div>
                <!--/#sitecontent-->
                <{include file="_include_footer.html"}>
                    <!-- <button id="totop">Scroll til toppen</button> -->
                    <{include file="cookiepolitik.html" }>
        </div>
        <!--/#site-->
        <{include file="side_basket.html" }>

    </div>
    <{/strip}>