<{strip}><div id="upper-sitehead">
<div class="container">
  <{if $settings.USPS.USP1}>
  <span class="usp icon icon-tick"><{$settings.USPS.USP1}></span>
  <{/if}>
  <{if $settings.USPS.USP2}>
  <span class="usp icon icon-tick"><{$settings.USPS.USP2}></span>
  <{/if}>
  <!-- <span>Sikker online betaling</span> -->
  <{if $settings.USPS.USP3}>
  <span class="usp icon icon-tick"><{$settings.USPS.USP3}></span>
  <{/if}>
  <{if $settings.USPS.USP4}>
  <span class="usp icon icon-tick"><{$settings.USPS.USP4}></span>
  <{/if}>
  <span class="pull-right">Kontakt os: <strong><a href="tel:0045<{$settings.globale.Telefonnummer|escape|replace:' ':''}>">Tlf. <{$settings.globale.Telefonnummer|escape}></a></strong></span>
</div>
</div>
<header id="sitehead">
  <div class="container"><div class="row">

    <button id="sitenav-toggler" class="glyphicon glyphicon-th hidden-md hidden-lg"></button>

    <div class="col-xs-12 col-md-2 col-lg-2" id="logo-container"><a href="/" id="logo" title="Produkter til et bedre liv"><img src="<{$theme_url}>/img/govita_logo.svg" id="logo-img" alt="<{$webshop->getName()|escape}>"></a></div>
    <div class="col-xs-12 col-xs-12 col-md-5" id="nav-container">
      <nav id="sitenav" class="" role="navigation">
       <div class="hidden-md hidden-lg" id="mobile-search">
        <form action="<{$webshop->getUrl()|escape}>/search">
          <input id="mobil-search-input" type="text" name="search" value="<{$get.search|escape}>" placeholder="Søg..">
          <button id="mobil-search-btn" type="submit" class="glyphicon glyphicon-search"></button>
        </form>
      </div>
      <ul>
       <{assign var="menu" value=$webshop->getMenu("topmenu")}>
       <{if $menu}>
       <{assign var="items" value=$menu->getItems()}>

       <{section name="i" loop=$items}>


       <li class="<{$items[i]->getClass()|escape}>">
        <{if $items[i]->getType() == "menu"}>
        <{assign var="subitems" value=$items[i]->getItems()}>
        <{section name="j" loop=$subitems start=0 max=1}>
        <a href="<{$subitems[j]->getUrl()|escape}>"><{$items[i]->getTitel()|escape}></a>
        <{/section}>


        <div class="sitenav-expanded" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="sitenav-expanded-content">
            <ul>
              <{section name="j" loop=$subitems start=1}>
              <li>
                <a href="<{$subitems[j]->getUrl()|escape}>"><{$subitems[j]->getTitel()|escape}></a>


                <{assign var="abe" value=$subitems[j]->getObject()}>
                <{assign var="subitemsubcat" value=$abe->getChildren()}>

                <{if $subitemsubcat}>
                <ul class="subitem-subcats">
                  <{section loop=$subitemsubcat name="s"}>
                  <{if $subitemsubcat[s]->getInMenu()}>
                  <li><a href="<{$subitemsubcat[s]->getUrl()|escape}>"><{$subitemsubcat[s]->getName()|escape}></a></li>
                  <{/if}>
                  <{/section}>
                </ul>
                <{/if}>

              </li>
              <{/section}>
            </ul>
          </div>
        </div>
        <{else}>
        <a href="<{$items[i]->getUrl()|escape}>"><{$items[i]->getTitel()|escape}></a>
        <{/if}>
      </li>
      <{/section}>

      <{/if}>
    </ul>
    <button class="takeover-close">&times;</button>
  </nav>
</div>
<div class="" style="float: right;">
  <{if $basket}>
  <button id="basket-toggler" class="cartfull" data-quantity-count="<{$total_amount}>" data-toggle="tooltip" data-placement="bottom" title="DKK <{$total_price|number_format:2:",":"."}> inkl. fragt"></button>
  <span data-total-price="<{$total_price|number_format:2:",":"."}>" class="basket-text">DKK <{$total_price|number_format:2:",":"."}> inkl. fragt</span>
  <{else}>
  <button id="basket-toggler" data-quantity-count="" data-toggle="tooltip" data-placement="bottom" title="Kurven er tom"></button>
  <span class="basket-text">Kurven er tom</span>
  <{/if}>
</div>
<div class="col-xs-12 col-md-2 col-lg-2" id="sitesearch-container" style="float: right;">
  <div id="sitehead-sitesearch">
   <form action="<{$webshop->getUrl()|escape}>/search">
     <input id="my_ac" type="text" name="search" value="<{$get.search|escape}>" placeholder="Søg..">
     <button id="sitesearch-btn" type="submit" class="glyphicon glyphicon-search"></button>
   </form>
 </div>
</div>



</div></div><!--/.row /.container-->

</header><!--/#sitehead--><{/strip}>