<{strip}>
<{assign var="splat" value=$product->getMetaValue('splat') }>
<{assign var="images" value=$product->getImages()}>
<{assign var="supplier" value=$product->getSupplier()}>
<{assign var="profile" value=$product->getProfile()}>
<{assign var="attr" value=$profile->getAttributeList()}>

<li rel="product" title="" class="col-xs-12 col-sm-4 col-md-3 product-teaser <{$product->getCategoryNames("filter-"," ")}> <{if $supplier}> filter-<{$supplier->getName()|lower|replace:' ':'_'|replace:'.':'_'}><{/if}>" itemscope itemtype="http://schema.org/Product">
    <div class="product-teaser-inner">
        <a href="<{$product->getRemoteUrl()|escape}>">
            <{if $attr}>
            <div class="sizes">
                <ul>
                    <{section name="j" loop=$attr}>
                    <{if $attr[j]->getIsVariant() && $attr[j]->getDataType() == "valuelist"}>
                    <{assign var="values" value=$attr[j]->getValues()}>
                    <{assign var="c" value=0}>
                    <{section name="k" loop=$values}>

                    <{if $product->getInStock($attr[j]->getAttributeId(), $values[k]->getAttributeValueId()) > 0}>
                    <{assign var="c" value=$c+1}>
                    <{if $c < 10}>
                    <li><{$values[k]->getVal()|escape}></li>
                    <{elseif $c == 10}>
                    <li>mere...</li>
                    <{/if}>
                    <{/if}>

                    <{/section}>
                    <{/if}>

                    <{/section}>

                </ul>
            </div>
            <{/if}>
            <div class="product-image-area">
                <{section name="j" loop=$images start=0 max=1}>
                <img src="<{$theme_url}>/img/spinner.gif" data-layzr="<{$images[j]->getSrc(400,400, 'box')}>" class="product-image" title="<{$product->getName()|escape}>" itemprop="image" content="<{$images[j]->getSrc(400,400, 'box')}>" alt="<{$images[j]->getDescription()|escape}>" />
                <{/section}>
            </div>

            <{if $product->getMetaValue('splattekst')}>
            <div class="product-teaser-highlight customtext"><{$product->getMetaValue('splattekst')}></div>
            <{elseif $product->getSalePrice() > 0}>
            <div class="product-teaser-highlight offer">
                <{math assign="pricedif" equation='a-b' a=$product->getPrice() b=$product->getSalePrice() }>
                <{math assign="savepercent" equation='c/d*100' c=$pricedif d=$product->getPrice()}>
                -<{$savepercent|number_format:0}>%
            </div>
            <{elseif $product->getOnlineHours() < 480}>
            <div class="product-teaser-highlight news">NYHED</div>
            <{/if}>



            <div class="product-teaser-meta">
                <div class="product-teaser-title" itemprop="name"><{$product->getName()|escape}></div>
                <div class="product-teaser-brand" itemprop="brand"><{if $supplier}><{$supplier->getName()}><{/if}></div>
                <{assign var="reviews" value=$product->getProductReviews()}>
                <{if $reviews}>
                <{assign var="antalreviews" value=0}>
                <{assign var="totalscore" value=0}>
                <{section name="p" loop=$reviews}>
                <{math assign="antalreviews" equation=x+1 x=$antalreviews}>
                <{math assign="totalscore" equation=x+y x=$totalscore y=$reviews[p]->getRating()}>
                <{/section}>
                <{math assign="gennemsnit" equation=x/y x=$totalscore y=$antalreviews}>

                <div class="product-rating-container">
                    <i class="rating-<{$gennemsnit|number_format:0:",":"."}>"></i>
                </div>
                <{/if}>
                <div class="product-teaser-text" itemprop="description"><{$product->getListDescription()|escape}></div>
                <div class="product-teaser-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <{if $product->getSalePrice()}>
                    <div class="product-teaser-price-before"><span><{$webshop->getCurrency()}></span> <span class="beforeprice"><{$product->getPrice()|number_format:2:",":"."}></span></div>
                    <{/if}>
                    <div class="product-teaser-price-current">
                        <span itemprop="priceCurrency" class="product-teaser-currency"><{$webshop->getCurrency()}></span>&nbsp;<span itemprop="price" class="product-teaser-price" content="<{$product->getRealPrice()|number_format:2:".":""}>"><{$product->getRealPrice()|number_format:2:",":"."}></span>
                    </div>
                    <{if $product->getIsInStock()}>
                    <span class="product-teaser-availability instock">På lager</span>
                    <link itemprop="availability" href="http://schema.org/InStock" />
                    <{/if}>
                </div>
            </div>
        </a>
        <div class="product-teaser-cta">
            <a href="<{$product->getRemoteUrl()|escape}>" class="product-teaser-readmore btn btn-primary">Vis mig mere</a>
        </div>
    </div>
</li><{/strip}>