<{strip}><{capture name="title"}><{$landing_page->getName()}><{/capture}>

<div class="subpage listpage">
    <!-- <{include file="tagmanager-script.html"}> -->
    <div id="site" class="">

        <{include file="_include_header.html"}>

        <section id="sitecontent">
            <{include file="_include_breadcrumbs.html"}>


            <section id="product-list-head">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12">
                            <div class="">
                                <h1><{$landing_page->getName()|escape}></h1>
                            </div>
                            <div>
                                <{$landing_page->getDescriptionA()}>
                            </div>
                        </div>

                        <{assign var="landingpages" value=$webshop->getLandingPageByTag('kategorivisning')}>
                        <{if $landingpages}>
                        <ul class="landingpages">
                            <{section name="i" loop=$landingpages}>
                            <li><a href="<{$landingpages[i]->getUrl()|escape}>">
                                <{$landingpages[i]->getName()|escape}>
                            </a></li>
                            <{/section}>
                        </ul>
                        <{/if}>﻿
                    </div>
                </div>
            </section>


            <section id="products">
                <div class="container"><div class="row">
                    <div id="noproducts">Vi har desværre ingen produkter der matcher dine kriterier</div>
                    <ul class="product-list" itemscope itemtype="http://schema.org/ItemList">

                        <{section name="i" loop=$products}>
                        <{include file="inner_product.html" product=$products[i]}>
                        <{/section}>
                    </ul>

                </div></div><!--/.container .row-->
            </section>

            <{include file="page-persuasion.html"}>

        </section><!--/#sitecontent-->

        <{include file="_include_footer.html"}>


    </div><!--/#site-->

    <{include file="side_basket.html"}>



        <!--
                 _     Built with love and             _ _
             ___| |_ ___ ___ ___ ___ ___ _____ ___   _| | |_
            |_ -|   | . | . | . |  _| .'|     | .'|_| . | '_|
            |___|_|_|___|  _|___|_| |__,|_|_|_|__,|_|___|_,_|
                        |_|

                    -->

                </div><{/strip}>