<{strip}><div id="mc_embed_signup" style="margin-top:30px;">
<h4>Tilmeld dig nyhedsbrevet</h4>
<form action="//govita.us12.list-manage.com/subscribe/post?u=babe216d1da17f440c80fb8ab&amp;id=8da52ebb8b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<div id="mc_embed_signup_scroll">
		<div class="input-group mc-field-group">
			<input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Email-adresse">
			<span class="input-group-btn"><input type="submit" value="Tilmeld" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary button"></span>
		</div>
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>
		<div style="position: absolute; left: -5000px;"><input type="text" name="b_babe216d1da17f440c80fb8ab_8da52ebb8b" tabindex="-1" value=""></div>
	</div>
</form>
</div><{/strip}>
