﻿<div class="subpage paymentpage">
	<div id="site" class="">

		<header id="sitehead">
			
			<div class="container"><div class="row">

				<div class="col-xs-12" id="logo-container"><span id="logo"><img src="<{$theme_url}>/img/govita_logo.svg" id="logo-img"></span>
			<font size=2>GoVita.dk v/AdViva ApS, CVR-nr. 31178088<br>Adresse: c/o Workstation, Nymøllevej 50, 2800 Kgs. Lyngby<br>Telefon: 31151870, Mail: mail@govita.dk<br></font></div>

			</div></div><!--/.container .row-->

		</header><!--/#sitehead-->

		<section id="sitecontent">

			<section id="checkout-content">
				<div class="container">

					<{if $order}>

					<h1>Faktura vedr. din ordre <{$order->getWebshopOrderId()}></h1>

					<{if $order->getStatus() == "new"}>

					<p>Ordrestatus: Din ordre er ikke behandlet endnu.</p>

					<{elseif $order->getStatus() == "process"}>

					<p>Ordrestatus: Din ordre er ved at blive behandlet.</p>

					<{elseif $order->getStatus() == "cancelled"}>

					<p>Ordrestatus: Din ordre er annulleret.</p>

					<{elseif $order->getStatus() == "sent"}>

					<p>Ordrestatus: Din ordre er afsendt og betalt.</p>

					<{if $order->getTrackingNumber()}>
					<{assign var="shipping" value=$order->getShipping()}>
					<p><a href="<{$order->getTrackingUrl()|escape}>" target="_blank">Følg din ordre hos <{$shipping->getName()|escape}></a>.</p>
					<{/if}>

					<{/if}>

					<{if !$order->getPaid()}>
					<p>Ordrestatus: Din ordre er endnu ikke betalt.<br>	<br> <a href="/payment?order_id=<{$order->getOrderId()}>&email=<{$order->getEmail()|escape}>" class="btn btn-primary btn-lg">Gå til betaling ›</a></p>
					<{/if}>

					<h2>Ordreoplysninger</h2>

					<h4>Varer</h4>
					<{*
					<{assign var="products" value=$order->getOrderProducts()}>
					*}>
					<{assign var="products" value=$order->getProducts()}>

					<ul style="padding: 0;">
						<{section name="i" loop=$products}>
						<li style="list-style-type: none;">
							<{assign var="images" value=$products[i]->getImages()}>
							<{section name="j" loop=$images max=1}>
							<img src="<{$images[j]->getSrc(100, 100, 'box')}>" alt=""><br>
							<{/section}>
							
							<strong><{$products[i]->getAmount()}> stk. <{$products[i]->getName()|escape}></strong>
							<small><{$products[i]->getUnitPrice()|number_format:2:",":"."}> <{$webshop->getCurrency()}></small>

							<{assign var="attributes" value=$products[i]->getAttributes()}>
							<{if $attributes}>
							<ul>
								<{section name="j" loop=$attributes}>
								<li><{$attributes[j].name}>: <{$attributes[j].val}></li>
								<{/section}>
							</ul>
							<{/if}>

							<{assign var="file" value=$products[i]->getFile()}>
							<{if $file}>
							<p><strong>Download:</strong> <a href="<{$products[i]->getFileDownloadUrl()|escape}>"><{$file->filename|escape}></a></p>
							<{/if}>

						</li>
						<{/section}>
					</ul>
					

					<{assign var="voucher" value=$order->getVoucher()}>
					<{if $voucher}>
					<h3>Rabatkode</h3>
					<p>Rabatkode: <{$voucher->getCode()|escape}></p>
					<p>Rabat: <{$voucher->getPercentDiscount()|escape}> %</p>
					<p>Rabat: <{$order->getVoucherDiscountAmount()|escape}> <{$webshop->getCurrency()}></p>
					<br/>
					<{/if}>
					<small>Subtotal: <{$order->getPrice()|number_format:2:",":"."}> <{$webshop->getCurrency()}></small><br>
					<small>Fragt: <{$order->getShippingPrice()|number_format:2:",":"."}> <{$webshop->getCurrency()}></small>
					<h3>Ordretotal: <{$order->getTotalPrice()|number_format:2:",":"."}> <{$webshop->getCurrency()}>	<small>(Moms <{$order->getVat()|number_format:2:",":"."}> <{$webshop->getCurrency()}>)</small></h3>
					<br/>	


					<h3>Bestillingsadresse</h3>
					<{if $order->getExtras("kundenr")}>
					<p>Kundenr.: <{$order->getExtras("kundenr")}></p>
					<{/if}>
					<p><{$order->getOrderName()|escape}>, <{$order->getOrderCompanyName()|escape}>, <{$order->getOrderAddress()|escape}>, <{$order->getOrderZipcode()|escape}> <{$order->getOrderCity()|escape}></p>


					<h3>Leveringsadresse</h3>
					<p><{$order->getDelName()|escape}>, <{$order->getDelCompanyName()|escape}>, <{$order->getDelAddress()|escape}>, <{$order->getDelZipcode()|escape}> <{$order->getDelCity()|escape}></p>

					<{if $order->getPickupAddress()}>
					<h3>Du kan hente din pakke hos:</h3>
					<p><{$order->getPickupAddress()|escape|nl2br}></p>
					<{/if}>

					<{foreach from=$order->getExtras() item="value" key="key"}>
					<p><small><{$key|escape}>: <{$value|escape}></small></p>
					<{/foreach}>

					<{/if}>
				</div>
			</section>
		</section><!--/#sitecontent-->
	</div><!--/#site-->




<!--  
         _     Built with love and             _ _   
     ___| |_ ___ ___ ___ ___ ___ _____ ___   _| | |_ 
    |_ -|   | . | . | . |  _| .'|     | .'|_| . | '_|
    |___|_|_|___|  _|___|_| |__,|_|_|_|__,|_|___|_,_|
                |_|                                  

            -->

        </div>