﻿<{strip}><{capture name="title"}><{$page->getHeadline()}><{/capture}>
<div class="subpage productpage">

    <div id="site" class="">
        <{include file="_include_header.html"}>
        <section id="sitecontent">
            <{assign var="images" value=$page->getImages()}>
            <{if $images}>
                <{if $images|@count == 1}>
                    <{section name="i" loop=$images}>
                        <div class="page-images" style="background-image:url('<{$images[i]->getSrc(1400, 500, 'fit')}>');"></div>
                    <{/section}>
                <{else}>

                <{/if}>
            <{/if}>
            <section id="page-content">
                <div class="container"><div class="row">

                    <{if $page->getMetaValue("newsletterpage")}>
                        <div class="col-xs-12 col-md-8 col-md-offset-2">
                            <div id="page-subcontent">

                                <div>
                                    <h1><{$page->getHeadline()|escape}></h1>
                                    <div><{$page->getText()}></div>
                                </div>

                                <div id="mc_embed_signup" style="margin-top:30px;margin-bottom:50px;">
                                    <form action="//govita.us12.list-manage.com/subscribe/post?u=babe216d1da17f440c80fb8ab&amp;id=8da52ebb8b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll">
                                            <div class="input-group mc-field-group">
                                                <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Email-adresse">
                                                <span class="input-group-btn"><input type="submit" value="Tilmeld" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary button"></span>
                                            </div>
                                            <div id="mce-responses" class="clear">
                                                <div class="response" id="mce-error-response" style="display:none"></div>
                                                <div class="response" id="mce-success-response" style="display:none"></div>
                                            </div>
                                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_babe216d1da17f440c80fb8ab_8da52ebb8b" tabindex="-1" value=""></div>
                                        </div>
                                    </form>
                                </div>

                                <div id="" style="text-align:center">
                                    <h4>Følg os også gerne på</h4>
                                    <div class="social-media">
                                        <a target="_blank" href="https://www.facebook.com/DKGoVita"><img src="<{$theme_url}>/img/social/facebook.svg" alt="Facebook" height="44px" width="44px" style="margin:0 10px;"></a>
                                        <a target="_blank" href="https://www.instagram.com/dkgovita/"><img src="<{$theme_url}>/img/social/instagram.svg" alt="Instagram" height="44px" width="44px" style="margin:0 10px;"></a>
                                        <a target="_blank" href="https://www.youtube.com/channel/UC_Ouu3c4UnQwkI9VHeyXtiQ"><img src="<{$theme_url}>/img/social/youtube.svg" alt="Youtube" height="44px" width="44px" style="margin:0 10px;"></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <style>#newsletterpopup{display:none!important}</style>
                    <{else}>
                        <div class="col-xs-12">
                            <div id="page-subcontent">
                                <h1><{$page->getHeadline()|escape}></h1>
                                <div><{$page->getText()}></div>


                                <{if $page->getMetaValue("produkter")}>
                                <div class="categorylist">
                                    <div class="row">
                                        <{assign var="frontpagecats" value=$webshop->getCategoriesByTags('forsiden')}>
                                        <{if $frontpagecats}>
                                        <{section name="i" loop=$frontpagecats}>
                                        <div class="col-xs-6 col-sm-3 category-teaser">
                                            <div class="category-layout">
                                                <a href="<{$frontpagecats[i]->getUrl()|escape}>" class="category-teaser-inner">
                                                    <{assign var="images" value=$frontpagecats[i]->getImages()}>
                                                    <{if $images}>
                                                    <{section name="j" loop=$images start=0 max=1}>
                                                    <img class="category-teaser-image" src="<{$images[j]->getSrc(400,400,'box')}>" alt="<{$frontpagecats[i]->getName()|escape}>">
                                                    <{/section}>
                                                    <{/if}>
                                                    <div class="category-teaser-title">
                                                        <{$frontpagecats[i]->getName()|escape}>
                                                    </div>
                                                </a>
                                                <div class="category-teaser-description">
                                                    <{*$frontpagecats[i]->getDescriptionA()*}>
                                                    <{assign var=subcats value=$frontpagecats[i]->getChildren()}>
                                                    <{if $subcats}>
                                                    <{section name="k" loop=$subcats}>
                                                    <a href="<{$subcats[k]->getUrl()|escape}>"><{$subcats[k]->getName()|escape}></a><br>
                                                    <{/section}>
                                                    <{/if}>
                                                </div>

                                            </div>
                                        </div>
                                        <{/section}>
                                        <{/if}>

                                    </div>
                                </div>
                                <{/if}>
                            </div>
                        </div>
                    <{/if}>




                </div></div><!--/.row /.container-->
            </section>


        </section><!--/#sitecontent-->

        <{include file="_include_footer.html"}>


        <!-- <button id="totop">Til toppen</button> -->

        <{include file="cookiepolitik.html"}>

    </div><!--/#site-->

    <{include file="side_basket.html"}>


</div><{/strip}>