<{strip}><section id="persuasion">

<div class="container"><div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 persuasion-box">
        <div class="persuasion-box-inner">
            <!-- <span>Fri fragt over 499,-</span> -->
            <{if $settings.USPS.USP1}>
            <span class="usp"><{$settings.USPS.USP1}></span>
            <{/if}>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 persuasion-box">
        <div class="persuasion-box-inner">
            <!-- <span>1-3 dages levering</span> -->
            <{if $settings.USPS.USP2}>
            <span class="usp"><{$settings.USPS.USP2}></span>
            <{/if}>
        </div>
    </div>  

    <div class="col-xs-12 col-sm-6 col-md-3 persuasion-box">
        <div class="persuasion-box-inner">
            <!-- <span>Sikker online betaling</span> -->
            <{if $settings.USPS.USP3}>
            <span class="usp "><{$settings.USPS.USP3}></span>
            <{/if}>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 persuasion-box">
        <div class="persuasion-box-inner">
         <!-- <span>30 dages returret</span> -->
         <{if $settings.USPS.USP4}>
         <span class="usp "><{$settings.USPS.USP4}></span>
         <{/if}>
     </div>
 </div>

</div></div><!--/.row /.container-->
</section><!--/#persuasion--><{/strip}>