﻿<div class="subpage paymentpage">
	<script type="text/javascript" src="js/scripts.min.js"></script>
	<div id="site" class="">

		<header id="sitehead">

			<div class="container">
				<div class="row">

					<div class="col-xs-12" id="logo-container"><a href="/" id="logo"><img src="<{$theme_url}>/img/govita_logo.svg" id="logo-img"></a></div>

				</div></div><!--/.container .row-->

			</header><!--/#sitehead-->

			<section id="sitecontent">

				<section id="checkout-content">
					<div class="container">
						<div class="row">
							<div class="col-sm-6">
								<{include file="_include_checkout_indicator.html"}>
							</div>
							<div class="col-sm-6">
								<div id="basket-persuasion">
									<p><strong>Spørgsmål?</strong> Så ring på <a href="tel:004531151870">Tlf. 31151870</a></p>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<h1>Betaling</h1>
								<{if $webshop->getStatus() == "demo"}>
								<p class="error">Shoppen kører i demo-mode, så evt. betalinger går igennem som betalt.</p>
								<br/>

								<{if $order}>
								<form action="<{$webshop->getUrl()|escape}>/payment?order_id=<{$order->getOrderId()}>&email=<{$order->getEmail()|escape}>" method="post">
									<{else}>
									<form action="" method="post">
										<{/if}>
										<p>Du er ved at betale <{$total_price|number_format:2:",":"."}> <{$webshop->getCurrency()}></p><br/>
										<input type="submit" name="next" value="Lad som om du betaler &raquo;"/>
									</form>


									<{else}>

									<{if $payment_gateway_type == "epay"}>

									<script type="text/javascript" src="https://ssl.ditonlinebetalingssystem.dk/integration/ewindow/paymentwindow.js" charset="UTF-8"></script>
									<script type="text/javascript">
										$(document).ready(function() {
											paymentwindow = new PaymentWindow({
												<{foreach from=$params key="key" item="value"}>
													'<{$key}>': '<{$value|escape:"javascript"}>',
												<{/foreach}>
												<{if $hash}>
													'hash': '<{$hash|escape:"javascript"}>'
												<{/if}>
												//'cssurl':'<{$webshop->getUrl()|escape}>/css/epay-styling.css'
											});
											paymentwindow.append('payment-div');
											paymentwindow.open();
										});
									</script>
									<style type="text/css" media="screen">
										#payment-div iframe{
											width:100%!important;
										}
									</style>
									<div id="payment-div" style="width:100%; height:500px;"></div>

									<{elseif $payment_gateway_type == "payon"}>

									<script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId=<{$checkoutId}>"></script>
									<form action="<{$result_url|escape}>" class="paymentWidgets"></form>

									<{elseif $payment_gateway_type == "quickpay"}>

									<form action="https://secure.quickpay.dk/form/" method="post">
										<input type="hidden" name="protocol" value="<{$protocol|escape}>" />
										<input type="hidden" name="msgtype" value="<{$msgtype|escape}>" />
										<input type="hidden" name="merchant" value="<{$merchant|escape}>" />
										<input type="hidden" name="language" value="<{$language|escape}>" />
										<input type="hidden" name="ordernumber" value="<{$ordernumber|escape}>" />
										<input type="hidden" name="amount" value="<{$amount|escape}>" />
										<input type="hidden" name="currency" value="<{$currency|escape}>" />
										<input type="hidden" name="continueurl" value="<{$continueurl|escape}>" />
										<input type="hidden" name="cancelurl" value="<{$cancelurl|escape}>" />
										<input type="hidden" name="callbackurl" value="<{$callbackurl|escape}>" />
										<input type="hidden" name="md5check" value="<{$md5}>" />
										<input type="submit" value="Betal" />
									</form>

									<{elseif $payment_gateway_type == "quickpayv10"}>

									<form action="https://payment.quickpay.net" method="post">
										<{foreach from=$params key="key" item="value"}>
										<input type="hidden" name="<{$key}>" value="<{$value|escape}>" />
										<{/foreach}>
										<input type="submit" value="Betal" />
									</form>

									<{elseif $payment_gateway_type == "paypal"}>

									<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">

										<input type="hidden" name="amount" value="<{$amount|escape}>"/>
										<input type="hidden" name="item_name" value="Ordre nr. <{$ordernumber|escape}> fra <{$webshop->getName()|escape}>"/>
										<input type="hidden" name="business" value="<{$merchant|escape}>"/>
										<input type="hidden" name="notify_url" value="<{$callbackurl|escape}>"/>

										<input type="hidden" name="currency_code" value="<{$currency|escape}>"/>

										<input type="hidden" name="custom" value="<{$ordernumber|escape}>"/>
										<input type="hidden" name="return" value="<{$continueurl|escape}>"/>

										<input type="hidden" name="first_name" value="<{$order->getOrderName()|escape}>"/>
										<input type="hidden" name="last_name" value=""/>
										<input type="hidden" name="address1" value="<{$order->getOrderAddress()|escape}>"/>
										<input type="hidden" name="address2" value=""/>
										<input type="hidden" name="city" value="<{$order->getOrderCity()|escape}>"/>
										<input type="hidden" name="zip" value="<{$order->getOrderZipcode()|escape}>"/>
										<input type="hidden" name="night_phone_a" value="<{$order->getPhone()|escape}>"/>

				<!--
					<input type="hidden" name="image_url" value=""/>
					<input type="hidden" name="cpp_headerback_color" value=""/>
					<input type="hidden" name="cpp_payflow_color" value=""/>
					<input type="hidden" name="cpp_headerborder_color" value=""/>
				-->

				<input type="hidden" name="cmd" value="_xclick"/>

				<input type="submit" class="payment_button green" value="Betal"/>
			</form>

			<{elseif $payment_gateway_type == "dibs"}>

			<iframe src="" style="border:1px solid #eee; width:100%; height: 400px; overflow:scroll" name="dibsframe"/></iframe>

			<form method="post" action="https://sat1.dibspayment.com/dibspaymentwindow/entrypoint" id="dibsform" target="dibsframe">
				<{foreach from=$params key="key" item="value"}>
				<input type="hidden" name="<{$key}>" value="<{$value|escape}>" />
				<{/foreach}>
				<input type="submit" value="Betal"/>
			</form>

			<script type="text/javascript">
				$(document).ready(function() {
					$("#dibsform input[type=submit]").hide();
					$("#dibsform").submit();
				});
			</script>

			<{/if}>

			<{/if}>

		</div></div></div>
	</section>


</section><!--/#sitecontent-->

<footer id="sitefoot">
	<div id="sitefoot-head">
		<div class="container">
			<div class="row"><div class="col-xs-12">
				<img src="<{$theme_url}>/img/epay_logo.gif"  width="220px">
			</div>
			<br>
			<div class="col-xs-12">
				<br>
				Vi benytter en sikker gateway gennem ePay.
				<br><br>
                        </div></div>

                    <div class="row"><div class="col-xs-12">
                    	<img src="<{$theme_url}>/img/epay-logo-pack/dankort_22.gif" alt="Dankort">
			<img src="<{$theme_url}>/img/epay-logo-pack/visa-22.gif" alt="Visa">
			<img src="<{$theme_url}>/img/epay-logo-pack/electron_22.gif" alt="Visa Electron">
			<img src="<{$theme_url}>/img/epay-logo-pack/master_22.gif" alt="Mastercard">
			<img src="<{$theme_url}>/img/epay-logo-pack/maestro_22.gif" alt="Maestro">
			<img src="<{$theme_url}>/img/epay-logo-pack/jcb_22.gif" alt="JCB">
			<img src="<{$theme_url}>/img/epay-logo-pack/amex_22.gif" alt="American Express">
			<img src="<{$theme_url}>/img/epay-logo-pack/mobilepay_22.gif" alt="Mobilepay">
                    </div></div></div>
                </div>
            </footer><!--/#sitefoot-->


        </div><!--/#site-->




        <!--
                 _     Built with love and             _ _
             ___| |_ ___ ___ ___ ___ ___ _____ ___   _| | |_
            |_ -|   | . | . | . |  _| .'|     | .'|_| . | '_|
            |___|_|_|___|  _|___|_| |__,|_|_|_|__,|_|___|_,_|
                        |_|

                    -->

                </div>