<{if $order}>

<{if $get.voted}>

<div class="subpage thankspage">
	<div id="site" class="">

		<header id="sitehead">

			<div class="container"><div class="row">

				<div class="col-xs-12" id="logo-container"><a href="/" id="logo"><img src="<{$theme_url}>/img/govita_logo.svg" id="logo-img"></a></div>

			</div></div><!--/.container .row-->

		</header><!--/#sitehead-->

		<section id="sitecontent">

			<section id="checkout-content">
				<div class="container">
					<div class="row text-center">
						<div class="col-sm-12" style="padding-top: 80px;">
							<h1>Tak for din anmeldelse</h1>
						</div>
						<div class="col-sm-12" style="padding: 20px 0 40px;">
							<a href="/" id="checkout-next-btn" class="btn btn-lg btn-primary" style="float: none;">Gå til forsiden</a>
						</div>
					</div>
					<hr>
					<div class="row text-center">
						<div class="col-sm-12" style="padding-top: 30px;">
							<h3>Få tips og gode råd til et
								bedre liv.
							</h3>
						</div>
						<div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
							<{include file="mailchimp-footer.html"}>
						</div>
						<div class="col-sm-6 col-md-4 " >
							<div class="" style="margin-top: 30px;">
								<h4>Eller følg os på
								</h4>
								<div class="social-media">
									<a target="_blank" href="https://www.facebook.com/DKGoVita"><img src="<{$theme_url}>/img/social/facebook.svg" alt="Facebook" height="44px" width="44px"></a>
									<a target="_blank" href="https://www.instagram.com/dkgovita/"><img src="<{$theme_url}>/img/social/instagram.svg" alt="Instagram" height="44px" width="44px"></a>
									<a target="_blank" href="https://dk.pinterest.com/govitadk/"><img src="<{$theme_url}>/img/social/pinterest.svg" alt="Pinterest" height="44px" width="44px"></a>
									<a target="_blank" href="https://www.youtube.com/channel/UC_Ouu3c4UnQwkI9VHeyXtiQ"><img src="<{$theme_url}>/img/social/youtube.svg" alt="Youtube" height="44px" width="44px"></a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</section>


		</section><!--/#sitecontent-->

		<footer id="sitefoot">

		</footer><!--/#sitefoot-->


	</div><!--/#site-->



                </div>


                <{else}>
                <div class="container">
                	<div class="row">
                		<div class="col-sm-8 col-sm-offset-2">
                			<div class="checkout-pages">
                				<div id="approve-logo">
                					<a href="/" id="logo" title="<{$webshop->getName()|escape}>"><img src="<{$theme_url}>/img/govita_logo.svg" id="logo-img"></a></a>
                				</div>
                				<div class="approve-section">
                					<h1>Anmeld dit køb</h1>
                				</div>


                				<{assign var="products" value=$order->getOrderProducts()}>

                				<form action="" method="post">
                					<div class="approve-section order-details">
						<!-- <small class="right">
							Ordre ID: <{$order->getWebshopOrderId()}>
						</small> -->
						<ul id="basket-content-list">
							<{section name="i" loop=$products}>
							<li class="basket-content-listitem">
								<{assign var="images" value=$products[i]->getImages()}>
								<{section name="j" loop=$images max=1}>
								<img src="<{$images[j]->getSrc(300, 300, 'box')}>" alt=""><br>
								<{/section}>

								<strong><{$products[i]->getAmount()}> stk. <{$products[i]->getName()|escape}></strong>
								<small>(<{$webshop->getCurrency()}> <{$products[i]->getUnitPrice()|number_format:2:",":"."}>)</small>
								<li>
									<{assign var="attributes" value=$products[i]->getAttributes()}>
									<{if $attributes}>
									<ul>
										<{section name="j" loop=$attributes}>
										<li><{$attributes[j].name}>: <{$attributes[j].val}></li>
										<{/section}>
									</ul>
								</li>
								<{/if}>
								<div class="row">
									<div class="col-sm-12">
										<br>
										<p>Giv os din vurdering</p>
										<fieldset id="rating" class="rating" style="margin-left: -4px;">
											<input type="radio" id="star5" name="rating[<{$products[i]->getProductId()}>]" value="5" />
											<label class = "full" for="star5" title="Awesome - 5 stars"></label>
											<input type="radio" id="star4" name="rating[<{$products[i]->getProductId()}>]" value="4" />
											<label class = "full" for="star4" title="Pretty good - 4 stars"></label>
											<input type="radio" id="star3" name="rating[<{$products[i]->getProductId()}>]" value="3" />
											<label class = "full" for="star3" title="Meh - 3 stars"></label>
											<input type="radio" id="star2" name="rating[<{$products[i]->getProductId()}>]" value="2" />
											<label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
											<input type="radio" id="star1" name="rating[<{$products[i]->getProductId()}>]" value="1" />
											<label class = "full" for="star1" title="Sucks big time - 1 star"></label>
										</fieldset>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-12">
										<textarea placeholder="Skriv en anmeldelse.." name="description[<{$products[i]->getProductId()}>]"></textarea>
									</div>
								</div>
							</li>
							<{/section}>
							<br/>
							<li><input style="margin-bottom: 40px; float: left;" id="checkout-next-btn" class="btn btn-primary btn-lg" type="submit" value="Gem din anmeldelse"/></li>
						</ul>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<{/if}>

<{/if}>