<{strip}><section id="product-list-filter">
    <button id="closefilter">&times;</button>
    <button id="toggle-filter">Filtrér produktliste</button>

    <div class="product-filters">
        <div class="container">
            <!--
            <div class="options-group">
                <span class="options-title" data-default="Køn" data-singular="køn" data-plural="køn">Køn</span>
                <div class="expanded-area">
                    <div class="multi-select">
                        <ul>
                            <li><label><input value="filter-babytoej" type="checkbox"> Babytøj</label></li>
                            <li><label><input value="filter-drengetoej" type="checkbox"> Drengetøj</label></li>
                            <li><label><input value="filter-pigetoej" type="checkbox"> Pigetøj</label></li>
                        </ul>
                    </div>
                </div>
            </div>
            option group-->

            <div class="options-group">
                <span class="options-title" data-default="Kategori" data-singular="kategori" data-plural="kategorier">Kategori</span>
                <div class="expanded-area">
                    <div class="multi-select">
                        <ul class="productcats">
                            <{assign var="carparent" value=$webshop->getCategory(13549)}> 
                            <{assign var="catkids" value=$carparent->getChildren()}>
                            <{section name="i" loop=$catkids}>
                                <li><label><input value="filter-<{$catkids[i]->getName()|lower|replace:' ':'_'|replace:'.':'_'|replace:'ø':'oe'|replace:'æ':'ae'}>" type="checkbox"> <{$catkids[i]->getName()}></label></li>
                            <{/section}>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- option group-->

            <div class="options-group">
                <span class="options-title" data-default="Brand" data-singular="brand" data-plural="brands">Brand</span>
                <div class="expanded-area">
                    <div class="multi-select">
                        <ul>
                            <{assign var="supplierlist" value=$webshop->getSuppliers()}>
                            <{section name="i" loop=$supplierlist}>
                                <li><label><input value="filter-<{$supplierlist[i]->getName()|lower|replace:' ':'_'|replace:'.':'_'}>" type="checkbox"> <{$supplierlist[i]->getName()}></label></li>
                            <{/section}>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- option group-->

            
            <!-- price option group-->
            <!--
            <div class="options-group">
                <label for="product-list-filter-price-span">Maks. pris</label>
                <input type="range" min="249.50" max="10002" value="10002" id="product-list-filter-price-span">
                <input id="product-list-filter-price-span-val" type="text">
            </div>
            -->
            <!-- price option group-->                     
            <div class="filter-result-clear">
                <a class="filter-choice-reset" href="">Nulstil<span class="hidden-xs"> filter</span></a>
                <div class="product-filters-result">Viser <span></span></div>
            </div>
        </div>
    </div>

</section><{/strip}>