<{strip}>
<{capture name="title"}><{$product->getName()}><{/capture}>

<{assign var="images" value=$product->getImages()}>
<span class="addwish-product-info" style="display:none" data-title="<{$product->getName()|escape}>" <{if $images}>
  <{section name="j" loop=$images start=0 max=1}>
  data-imgurl="<{$webshop->getUrl()}><{$images[j]->getSrc(770, 770, 'fit')}>"
  <{/section}>
  <{/if}> data-price="<{$product->getRealPrice()|number_format:2:".":""}>" data-productnumber="<{$product->getOwnId()}>" data-url="<{$webshop->getUrl()}>/<{$product->getUrl()}>" data-currency="<{$webshop->getCurrency()}>" <{if $supplier}>data-brand="<{$supplier->getName()}>"<{/if}> <{if $product->getIsInStock()}>data-instock="true"<{else}> data-instock="false"<{/if}> <{if $product->getSalePrice()}> data-previousprice="<{$product->getPrice()|number_format:2:".":""}>"<{/if}> <{if $product->getMetaValue('addwish_score')}>data-score="<{$product->getMetaValue('addwish_score')}>"<{/if}> <{if $product->getMetaValue('addwish_gender')}>data-gender="<{$product->getMetaValue('addwish_gender')}>"<{/if}> <{if $product->getMetaValue('addwish_recurrent')}>data-recurrent="<{$product->getMetaValue('addwish_recurrent')}>"<{/if}>>
</span>

<div class="subpage productpage">

  <div id="site" class="">
    <{include file="_include_header.html"}>

    <section id="sitecontent">

      <{include file="_include_breadcrumbs.html"}>

      <section id="productpage-content" itemscope itemtype="http://schema.org/Product">
        <div class="container">

          <div class="row">

            <div class="col-xs-12 col-sm-5 col-md-6">
              <div id="product-page-image">

              <{section name="j" loop=$images start=0 max=1}>
                <img src="<{$images[j]->getSrc(770, 770, 'fit')}>" alt="<{$images[j]->getDescription()|escape}>" title="<{$images[j]->getDescription()|escape}>" <{$images[j]->getHtmlSize(1000,1000, 'fit')}> itemprop="image">
              <{/section}>

              <{section name="k" loop=$images start=1}>
                <img data-src="<{$images[k]->getSrc(770, 770, 'fit')}>" class="lazyOwl" alt="<{$images[k]->getDescription()|escape}>" title="<{$images[k]->getDescription()|escape}>" <{$images[k]->getHtmlSize(1000,1000, 'fit')}> itemprop="image">
              <{/section}>

             </div>
           </div>
           <div class="col-xs-12 col-sm-7 col-md-6">
            <div id="product-info-container">
              <h1 itemprop="name"><{$product->getName()|escape}></h1>
              <{if $product->getOwnId()}>
              <div id="product-info-sku">Varenr. <{$product->getOwnId()}></div>
              <{/if}>
              <{assign var="supplier" value=$product->getSupplier()}>
              <{if $supplier}>
              <div id="product-info-brand">fra <span><{$supplier->getName()}></span></div>
              <{/if}>

              <{include file="_include_product_reviews.html"}>

              <div id="product-page-cta-container">
                <div id="product-page-cta" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <div id="product-cta-price">
                    <{if $product->getSalePrice()}>
                    <div class="product-cta-before">
                     <span><{$webshop->getCurrency()}></span> <span><{$product->getPrice()|number_format:2:",":"."}></span>
                   </div>
                   <{/if}>
                   <div class="product-cta-current">
                    <span itemprop="priceCurrency"><{$webshop->getCurrency()}></span> <span itemprop="price" content="<{$product->getRealPrice()|number_format:2:".":""}>"><{$product->getRealPrice()|number_format:2:",":"."}></span>
                    <div style="margin-top:15px;" class="viabill-pricetag" view="product" price="<{$product->getRealPrice()|number_format:2:".":"."}>"></div>
                  </div>

                </div>

                <{include file="add_to_cart.html"}>

              </div>
              <div id="product-page-persuasion">
                <div class="product-page-persuasion-inner">
                  <{if $settings.USPS.USP1}>
                  <span class="usp  icon icon-tick"><{$settings.USPS.USP1}></span>
                  <{/if}>
                  <{if $settings.USPS.USP2}>
                  <span class="usp  icon icon-tick"><{$settings.USPS.USP2}></span>
                  <{/if}>



             </div>
             <div class="product-page-persuasion-inner">
              <{if $settings.USPS.USP3}>
              <span class="usp icon icon-tick"><{$settings.USPS.USP3}></span>
              <{/if}>
              <{if $settings.USPS.USP4}>
              <span class="usp icon icon-tick"><{$settings.USPS.USP4}></span>
              <{/if}>

            </div>
          </div>
        </div>
        <div id="product-page-extras">
         <div id="share"></div>
       </div>
       <div id="product-info-description" itemprop="description">
         <div id="product-page-shortdescription"><{$product->getListDescription()}> </div>
         <div id="product-page-longdescription"><{$product->getParsedDescription()}></div>
       </div>
       <div id="review">
         <{assign var="reviews" value=$product->getProductReviews()}>

         <{section name="p" loop=$reviews}>
         <{assign var="order" value=$reviews[p]->getOrder()}>
         <hr>
         <p style="font-weight: 700;"><{$reviews[p]->getRating()}> stjerner ud af 5</p>
         <p>Skrevet af <{$order->getDelName()}>.</p>
         <p><em>"<{$reviews[p]->getDescription()|escape}>"</em></p>
         <hr>
         <{/section}>
       </div>

     </div>
   </div>


 </div></div><!--/.row /.container-->
</section>

<{assign var="related" value=$product->getRelatedProducts()}>
<{if $related}>
<section id="related">
  <div class="container">
    <div class="col-xs-12">
      <h3>Lignende produkter</h3>
      <div class="row">
        <ul class="product-list" itemscope itemtype="http://schema.org/ItemList">
          <{section name="i" loop=$related}>
          <{include file="inner_product.html" product=$related[i]}>
          <{/section}>
        </ul>
      </div>
    </div>
  </div>
</section>
<{/if}>

<script>
</script>
</section><!--/#sitecontent-->

<{include file="_include_footer.html"}>


<!-- <button id="totop">Til toppen</button> -->

<{include file="cookiepolitik.html"}>

</div><!--/#site-->

<{include file="side_basket.html"}>



</div><{/strip}>