<div class="subpage listpage">

    <div id="site" class="">

        <{include file="_include_header.html"}>

        <section id="sitecontent">

            <section id="product-list-head">
                <div class="container"><div class="row"><div class="col-xs-12">
                    <{if $get.search}>
                    <h1>Søgning efter "<{$get.search|escape}>"</h1>
                    <{else}>
                    <h1>Søgning</h1>
                    <{/if}>
                    <p>Resultater: <{$count}></p>
                </div></div></div>
            </section>

            <section id="products">
                <div class="container"><div class="row">
                    <ul class="product-list" itemscope itemtype="http://schema.org/ItemList">

                        <{section name="i" loop=$products}>
                        <{include file="inner_product.html" product=$products[i]}>
                        <{/section}>



                    </ul>


                </div></div><!--/.container .row-->
            </section>


            <{include file="page-persuasion.html"}>

        </section><!--/#sitecontent-->

        <{include file="_include_footer.html"}>


        <button id="totop">Til toppen</button>

        <{include file="cookiepolitik.html"}>

    </div><!--/#site-->

    <{include file="side_basket.html"}>



    <!--
             _     Built with love and             _ _
         ___| |_ ___ ___ ___ ___ ___ _____ ___   _| | |_
        |_ -|   | . | . | . |  _| .'|     | .'|_| . | '_|
        |___|_|_|___|  _|___|_| |__,|_|_|_|__,|_|___|_,_|
                    |_|

                -->

            </div>

