﻿<div class="subpage paymentpage">
	<script type="text/javascript" src="<{$theme_url}>/js/scripts.min.js"></script>

	<div id="site" class="">

		<header id="sitehead">

			<div class="container"><div class="row">

				<div class="col-xs-12" id="logo-container"><a href="/" id="logo"><img src="<{$theme_url}>/img/govita_logo.svg" id="logo-img"></a></div>

			</div></div><!--/.container .row-->

		</header><!--/#sitehead-->

		<section id="sitecontent">

			<section id="checkout-content">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<{include file="_include_checkout_indicator.html"}>
						</div>
						<div class="col-sm-6">
							<div id="basket-persuasion">
								<p><strong>Spørgsmål?</strong> Så ring på <a href="tel:004531151870">Tlf. 31151870</a></p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h1>Fragt</h1>

							<script type="text/javascript">
								$(document).ready(function() {

									var check_module = function() {

						// Gemmer alle
						$(".shipping_module").hide();

						// Finder den der er checked
						var e = $("input[type=radio].shipping:checked");

						if (e) {
							var module_name = e.attr('module');

						// Hvis den der er checked også har en module-attribut, så viser vi den
						if (module_name) {
							var module = $("#shipping_module").show();
						}
					}

				}

			// Loader
			$("input.shipping").ready(check_module).change(check_module);
		});
	</script>

	<{if $get.missing}>
	<p class="error">Du skal vælge leveringsmetode</p>
	<{/if}>

	<{*if $is_postdanmark_down_again}>
	<p class="error">PostDanmark er desværre ikke tilgængelig i øjeblikket.</p>
	<{/if*}>

	<{*if $shipping_module && $no_shops}>
	<p>Vi fandt desværre ikke nogen pakkeshop - er du sikker på at din adresse er rigtig?</p>
	<p><a href="<{$webshop->getUrl()}>/address"/>&laquo; gå tilbage og ret</a></p>
	<{/if*}>

	<form action="" method="post" id="shippingformular">
		<br>
		<{assign var="shippings" value=$webshop->getShippings()}>
		<{section name="i" loop=$shippings}>
		<div class="line" >
			<input class="shipping" type="radio" module="<{$shippings[i]->getModule()|escape}>" value="<{$shippings[i]->getShippingId()}>" name="shipping_id" id="shipping<{$shippings[i]->getShippingId()}>" <{if $session_del.shipping_id == $shippings[i]->getShippingId()}><{/if}>/>
			<label for="shipping<{$shippings[i]->getShippingId()}>"><{$shippings[i]->getName()|escape}> <{$shippings[i]->getCost()|number_format:2:",":"."}> <{$webshop->getCurrency()}></label><br/>
		</div>
		<{/section}>
		<{* viser kun shops, hvis landet er Danmark (id 1431) *}>
		<{if $session_del.country_id == 1431}>
		<{if $shops}>
		<div class="clear" >
			<br>
			<label>Hvor vi du hente din pakke? <br>
				<select name="shop">
					<{section name="i" loop=$shops}>
					<option value="<{$shops[i].number}>" <{if $session_del.shop == $shops[i].number}>selected="selected"<{/if}>/>
						<{$shops[i].name|escape}> &middot;
						<{$shops[i].street|escape}> &middot;
						<{$shops[i].zip|escape}> <{$shops[i].city|escape}>
					</option>
					<{/section}>
				</select>
			</label>
		</div>
		<{else}>
		<p>ingen pakkeshops</p>
		<{/if}>
		<{/if}>

		<div class="clear"></div>
		<br>
		<br>

		<input type="button" name="prev" value="&laquo; Leveringsadresse" class="btn btn-default btn-lg" onclick="history.go(-1);"/>
		<input id="checkout-next-btn" class="btn btn-primary btn-lg" type="submit" name="next" value="Gå til godkendelse &raquo;"/>
	</button>

</form>

</div></div></div>
</section>


</section><!--/#sitecontent-->

<footer id="sitefoot">
	<div id="sitefoot-head">
		<div class="container">
			<div class="row"><div class="col-xs-12">
			  	<img src="<{$theme_url}>/img/epay-logo-pack/dankort_22.gif" alt="Dankort">
				<img src="<{$theme_url}>/img/epay-logo-pack/visa-22.gif" alt="Visa">
				<img src="<{$theme_url}>/img/epay-logo-pack/electron_22.gif" alt="Visa Electron">
				<img src="<{$theme_url}>/img/epay-logo-pack/master_22.gif" alt="Mastercard">
				<img src="<{$theme_url}>/img/epay-logo-pack/maestro_22.gif" alt="Maestro">
				<img src="<{$theme_url}>/img/epay-logo-pack/jcb_22.gif" alt="JCB">
				<img src="<{$theme_url}>/img/epay-logo-pack/amex_22.gif" alt="American Express">
				<img src="<{$theme_url}>/img/epay-logo-pack/mobilepay_22.gif" alt="Mobilepay">
                    </div></div></div>
                </div>
            </footer><!--/#sitefoot-->


        </div><!--/#site-->



    <!--
             _     Built with love and             _ _
         ___| |_ ___ ___ ___ ___ ___ _____ ___   _| | |_
        |_ -|   | . | . | . |  _| .'|     | .'|_| . | '_|
        |___|_|_|___|  _|___|_| |__,|_|_|_|__,|_|___|_,_|
                    |_|

                -->

            </div>