<{strip}><{if $basket}>
<div id="basket" >
    <div id="basket-content">

        <h3>Indhold i kurven</h3>

        <form class="form-inline" role="form" id="form" method="post" action="/basket">

            <ul id="basket-content-list">
                <li class="row" id="basket-content-listhead">
                    <span class="col-xs-6 col-sm-8 col-md-9 left">Produkt</span><span class="col-xs-6 col-sm-4 col-md-3 right">Pris</span>
                </li>

                <{section name="i" loop=$basket}>
                <{assign var="product" value=$basket[i].product}>
                <li class="basket-content-listitem">
                    <div class="col-xs-12 col-sm-6 col-md-7 left">
                        <input type="hidden" name="amount[<{$basket[i].id}>]" value="<{$basket[i].amount}>">
                        <span class="basket-content-listitem-amount"><{$basket[i].amount}> stk.</span> <a href="<{$product->getUrl()}>"><{$product->getName()}></a>
                        <{assign var="attributes" value=$basket[i].attributes}>
                        <{if $attributes}>
                        <div class="basket-content-listitem-attr">
                            <{foreach from=$attributes item=a}>
                            <span><{$a.name|escape}>: <{$a.value|escape}></span>
                            <{/foreach}>
                        </div>
                        <{/if}>
                    </div>
                    <div class="col-xs-5 col-sm-2">
                        <button class="removefrombasket text-center btn btn-xs" name="remove_product" value="<{$basket[i].id}>"><i class="icon-close"></i> <span>Fjern fra kurven</span></button>
                    </div>
                    <div class="col-xs-7 col-sm-4 col-md-3 right">DKK <{$product->getRealPrice($basket[i].amount, $basket[i].attributes)|number_format:2:",":"."}></div>
                </li>
                <{/section}>

            </ul>

            <div id="basket-summary">
                <span id="basket-vat">Moms udgør: DKK <{$vat|number_format:2:",":"."}></span>
                <span id="basket-shipping">Levering: DKK <{$shipping_price|number_format:2:",":"."}></span>
                <span data-total-price="<{$total_price|number_format:2:",":"."}>" id="basket-total">Total: DKK <{$total_price|number_format:2:",":"."}></span>
                <div id="financing"><div class="viabill-pricetag" view="basket" price="<{$total_price|number_format:2:".":"."}>"></div></div>
            </div>

            <a href="" id="shopon" class="btn btn-default btn-lg">Shop videre</a> <a href="<{$webshop->getUrl()}>/basket" id="checkout-next-btn" class="btn btn-primary btn-lg" name="next">Gå til kurven</a>

        </form>

    </div>
    <button class="takeover-close">&times;</button>
</div>
<{else}>
<div id="basket">
    <div id="basket-content"><h3>Kurven er tom</h3></div>
    <button class="takeover-close">&times;</button>
</div>
<{/if}><{/strip}>