﻿<{include file="ecommerce_tracking.html"}>
<div class="subpage thankspage">
  <div id="site" class="">

    <header id="sitehead">

      <div class="container"><div class="row">

        <div class="col-xs-12" id="logo-container"><a href="/" id="logo"><img src="<{$theme_url}>/img/govita_logo.svg" id="logo-img"></a></div>

      </div></div><!--/.container .row-->

    </header><!--/#sitehead-->

    <section id="sitecontent">

      <section id="checkout-content">
        <div class="container">
          <div class="row text-center">
            <div class="col-sm-12" style="padding-top: 80px;">
              <h1>Tak for din bestilling</h1>
              <p>Du vil modtage en ordrebekræftelse pr. mail, og modtage din bestilling hurtigst muligt.</p>
            </div>
            <div class="col-sm-12" style="padding: 20px 0 40px;">
              <a href="/" id="checkout-next-btn" class="btn btn-lg btn-primary" style="float: none;">Gå til forsiden</a>
            </div>
          </div>
          <hr>
          <div class="row text-center">
            <div class="col-sm-12" style="padding-top: 30px;">
              <h3>Få tips og gode råd til et bedre liv.
              </h3>
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
              <{include file="mailchimp-footer.html"}>
            </div>
            <div class="col-sm-6 col-md-4 " >
              <div class="" style="margin-top: 30px;">
               <h4>Følg os også gerne på
               </h4>
               <div class="social-media">
                 <a target="_blank" href="https://www.facebook.com/DKGoVita"><img src="<{$theme_url}>/img/social/facebook.svg" alt="Facebook" height="44px" width="44px"></a>
                 <a target="_blank" href="https://www.instagram.com/dkgovita/"><img src="<{$theme_url}>/img/social/instagram.svg" alt="Instagram" height="44px" width="44px"></a>
                 <a target="_blank" href="https://www.youtube.com/channel/UC_Ouu3c4UnQwkI9VHeyXtiQ"><img src="<{$theme_url}>/img/social/youtube.svg" alt="Youtube" height="44px" width="44px"></a>
               </div>
             </div>
           </div>
         </div>

       </div>
     </section>


   </section><!--/#sitecontent-->

   <footer id="sitefoot">

   </footer><!--/#sitefoot-->


 </div><!--/#site-->




</div>

