*, ::after, ::before { box-sizing: border-box; }
html { font-family: sans-serif; font-size: 10px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body, html { height: 100%; min-height: 100%; }
body { margin: 0px; font-size: 16px; line-height: 1.42857143; color: rgb(51, 51, 51); font-family: Laila, serif; font-weight: 400; overflow-x: hidden; background: rgb(255, 255, 255); }
iframe { width: 100%; border: 0px none; height: 100%; }
#site { position: relative; top: 0px; width: 100%; right: 0px; left: 0px; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }
#upper-sitehead { top: 0px; height: 40px; line-height: 40px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(239, 239, 239); box-sizing: border-box; font-size: 80%; display: block; background: 0px 0px; }
.container, .container-fluid { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.container { width: 1170px; }
#upper-sitehead .usp { position: relative; vertical-align: middle; margin-right: 30px; padding-left: 25px; }
.pull-right { float: right !important; }
b, strong { font-weight: 700; }
strong { font-weight: 700; }
a { background: 0px 0px; color: rgb(111, 136, 141); text-decoration-line: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
#sitehead { width: 100%; height: 80px; z-index: 100; top: 40px; position: absolute; box-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 20px; transition: background 200ms ease, box-shadow 200ms ease; -webkit-transition: background 200ms ease, box-shadow 200ms ease; background: rgb(255, 255, 255); }
.row { margin-left: -15px; margin-right: -15px; }
button, input, optgroup, select, textarea { color: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button, input, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
.glyphicon { position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: 400; line-height: 1; -webkit-font-smoothing: antialiased; }
.hidden-lg { display: none !important; }
#sitenav-toggler { width: 50px; height: 50px; position: absolute; top: 15px; left: 20px; font-size: 20px; border: 1px solid rgba(51, 51, 51, 0.0980392); border-radius: 4px; text-align: center; padding: 0px; background: 0px 0px; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { float: left; }
.col-xs-12 { width: 100%; }
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 { float: left; }
.col-md-3 { width: 25%; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 { float: left; }
.col-lg-2 { width: 16.66666667%; }
#logo-container { text-align: center; }
#logo-container #logo { display: block; width: auto; max-width: 200px; margin: 15px auto auto; }
img { border: 0px; vertical-align: middle; max-width: 100%; height: auto; }
#logo-container #logo img { width: 100%; margin: auto; }
.col-md-6 { width: 50%; }
.col-lg-6 { width: 50%; }
#sitenav { position: static; top: 0px; width: auto; height: auto; left: 0px; z-index: 1001; display: block; overflow-y: scroll; font-size: 16px; background: 0px 0px; overflow: hidden; }
#mobile-search { margin: 50px 0px 20px; padding: 20px; position: relative; width: 100%; height: 50px; }
#mobile-search form { margin: 0px; padding: 0px; position: relative; width: 100%; height: 50px; }
#mobile-search form #mobil-search-input { height: 50px; width: 100%; position: absolute; padding-left: 15px; border-color: rgb(204, 204, 204); }
#mobile-search form #mobil-search-btn { height: 44px; width: 44px; position: absolute; right: 3px; top: 3px; border: 0px none; color: rgb(255, 255, 255); padding: 0px; border-radius: 2px; text-align: center; background: rgb(111, 136, 141); }
ol, ul { margin-top: 0px; margin-bottom: 11px; }
#sitenav ul { list-style: none; margin: 0px; padding: 0px; }
#sitenav ul > li { display: inline-block; line-height: 50px; font-weight: 300; }
#sitenav ul > li > a { display: block; border-top-width: 3px; border-top-style: solid; border-top-color: transparent; transition: all 200ms ease; -webkit-transition: all 200ms ease; color: rgb(51, 51, 51); padding: 12px; }
#sitenav li .sitenav-expanded { padding-left: 0px; position: absolute; width: 100%; z-index: 999; left: 0px; display: none; box-shadow: rgba(0, 0, 0, 0.0980392) 0px 3px 15px; }
#sitenav li .sitenav-expanded .sitenav-expanded-content { padding: 15px; background: rgb(255, 255, 255); }
#sitenav li .sitenav-expanded .sitenav-expanded-content a { display: block; color: rgb(51, 51, 51); }
.takeover-close { display: block; position: absolute; top: 10px; right: 20px; width: 40px; height: 40px; color: rgb(255, 255, 255); border: 0px; font-size: 30px; line-height: 40px; padding: 0px; text-align: center; font-weight: 300; font-family: Arial, Helvetica, 'Hevletica neue', sans-serif; background: rgba(0, 0, 0, 0.901961); }
#sitenav .takeover-close { display: none; }
.col-md-2 { width: 16.66666667%; }
.col-lg-3 { width: 25%; }
#sitehead-sitesearch { position: static; display: block; }
#sitehead-sitesearch input { border: 1px solid rgba(51, 51, 51, 0.0980392); height: 40px; line-height: 40px; border-radius: 4px; padding: 5px 10px; margin-top: 20px; position: relative; width: 100%; transition: all 200ms ease; -webkit-transition: all 200ms ease; background: 0px 0px; }
#sitehead-sitesearch button { position: absolute; right: 20px; top: 25px; height: 30px; width: 30px; border: 0px none; color: rgba(51, 51, 51, 0.298039); background: 0px 0px; }
#basket-toggler { width: 50px; height: 50px; font-size: 20px; color: rgb(51, 51, 51); border-radius: 4px; padding: 0px; position: relative; border: 1px solid rgba(51, 51, 51, 0.0980392); top: 5px; right: 0px; line-height: 1; text-align: center; background: 0px 0px; float: right; margin-right: 10px; margin-top: 10px; }
#basket-toggler.cartfull { border-color: rgb(111, 136, 141); color: rgb(255, 255, 255); background: rgb(111, 136, 141); }
#sitecontent { background: url(http://kidsdelux.dk/private_templates/1224/kidsdelux/img/kd-pattern.gif) repeat rgb(255, 255, 255); }
#brandidentity { margin-bottom: 30px; text-align: center; padding: 250px 0px 50px; box-sizing: border-box; color: rgb(255, 255, 255); min-height: 600px; text-shadow: rgba(0, 0, 0, 0.498039) 0px 3px 10px; margin-top: 40px; background-size: cover; background-position: 50% 0%; }
.fb_reset > div { overflow: hidden; }
#cookiepolicy { position: fixed; z-index: 1000; min-height: 80px; bottom: 0px; color: rgb(255, 255, 255); display: none; width: 100%; background: rgba(0, 0, 0, 0.901961); }
.closebtn { position: absolute; }
#cookiepolicy .closebtn { position: absolute; right: 20px; top: -20px; width: 40px; height: 40px; border-radius: 80px; border: 4px solid rgb(255, 255, 255); font-size: 150%; overflow: hidden; background: rgb(17, 17, 17); }
#cookiepolicy #cookiepolicy-inner { padding: 30px 15px; }
#basket { padding: 5% 20% 30px; width: 100%; height: 100%; min-height: 100%; position: fixed; top: 0px; left: 0px; z-index: 1001; display: none; background: rgba(255, 255, 255, 0.952941); overflow-y: scroll; }
#basket #basket-content { padding-bottom: 30px; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
.h1, .h2, .h3, h1, h2, h3 { margin-top: 22px; margin-bottom: 11px; }
.h3, h3 { font-size: 28px; }
h1, h2, h3 { font-weight: 300; }
#form { clear: both; }
#basket-content-list { margin: 0px 0px 30px; padding: 0px; list-style-type: none; }
#basket-content-list #basket-content-listhead { text-transform: uppercase; font-size: 100%; padding: 15px 0px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221); color: rgb(102, 102, 102); }
#basket #basket-content-list #basket-content-listhead { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221); color: rgb(102, 102, 102); }
.col-xs-6 { width: 50%; }
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 { float: left; }
.col-sm-8 { width: 66.66666667%; }
.col-md-9 { width: 75%; }
.left { text-align: left; }
.col-sm-4 { width: 33.33333333%; }
.right { text-align: right; }
#basket-content-list .basket-content-listitem { padding: 15px 0px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); }
#basket #basket-content-list .basket-content-listitem { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221); }
#basket-content-list .basket-content-listitem .left, #basket-content-list .basket-content-listitem .right { padding: 0px; }
#basket-content-list .basket-content-listitem-amount { float: left; margin-right: 10px; }
#basket #basket-content-list .basket-content-listitem a { color: rgb(51, 51, 51); }
#basket-content-list .basket-content-listitem-attr { font-style: italic; }
#basket-summary { text-align: right; margin-bottom: 30px; }
#basket-shipping, #basket-subtotal, #basket-total, #basket-vat { display: block; }
#basket-total { font-size: 150%; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221); padding: 10px 0px; margin: 30px 0px 10px; }
#basket #basket-total { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221); }
.btn { display: inline-block; margin-bottom: 0px; font-weight: 400; text-align: center; vertical-align: middle; cursor: pointer; border: 1px solid rgb(51, 51, 51); white-space: nowrap; padding: 6px 12px; font-size: 16px; line-height: 1.42857143; border-radius: 4px; -webkit-user-select: none; background-image: none; }
.btn-default { color: rgb(51, 51, 51); border-color: rgb(204, 204, 204); background-color: rgb(255, 255, 255); }
.btn-group-lg > .btn, .btn-lg { padding: 10px 16px; font-size: 20px; line-height: 1.33; border-radius: 6px; }
#shopon { width: auto; margin-bottom: 0px; }
.btn-primary { color: rgb(255, 255, 255); border-color: rgb(100, 122, 127); background-color: rgb(111, 136, 141); }
#checkout-next-btn { width: auto; float: right; }