#basket-content-list{
	margin:0 0 30px 0;
	padding: 0;
	list-style-type: none;

	#basket-content-listhead{
		text-transform: uppercase;
		font-size: 100%;
		padding: 15px 0;
		border-bottom: 1px solid @bg-gray;
		border-top: 1px solid @bg-gray-dark;
		color: #666;
	}

	.basket-content-listitem{
		padding: 15px 0;
		border-bottom: 1px solid #eee;
	}
	.basket-content-listitem-attr{
		font-style: italic;
		font-weight: 80%;
	}
	.basket-content-listitem > a, .basket-content-listitem > span{
		display: block;
		color: #333;
	}
	.basket-content-listitem:after{
		content: '';
		display: block;
		clear: both;
	}

	.basket-content-listitem .left, .basket-content-listitem .right{
		padding: 0;
	}
	.basket-content-listitem-amount{
		float: left;
		margin-right: 10px;
	}
}


.left{
	text-align: left;
}

.right{
	text-align: right;
}

#basket-summary{
	text-align: right;
	margin-bottom: 30px;
}
#basket-subtotal,
#basket-shipping,
#basket-vat,
#basket-total{
	display: block;
}
#basket-subtotal{

}
#basket-shipping{

}
#basket-vat{

}

.basketpage{
	h1{
		@media (min-width: @screen-sm){
			float: left;
			width: 50%;
		}
	}
}
.back-button{
	padding: 20px 0;
}
#basket-persuasion{
	@media (max-width: @screen-sm){
		display: none;
	}
	opacity: 0.7;
	color: @brand-primary;
	width: 50%;
	float: right;
	text-align: right;
	padding-top: 30px;
	a{
		color: @brand-secondary;
	}
	ul{
		list-style-type: none;
		margin:0 0 5px;
		padding: 0;
		text-align: right;
		
		li{
			display: inline-block;
			margin-left:20px; 
			&:before{
				font-family: 'govita';
				content: "b";
				float: left;
				margin-right: 5px;
			}
			&:after{
				content: '';
				clear: both;
				display: block;
			}
		}
	}
}


#basket-total{
	font-size: 150%;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 10px 0;
	margin: 30px 0 10px 0;
	span{
		float: right;
	}
}

#basket-content-shipping{
	span.country-selecter{
		display: inline-block;
		margin: 0 5px;
	}
}


#basket-voucher{

	margin: 0 0 30px 0;

	> .input-group {
		padding: 0;
	}

	input{
		width: 100%;
		background: @bg-gray;
		border: 0 none;
		height: 40px;
		line-height: 40px;
		padding: 0px 15px;
		&:focus{
			outline: none;
		}
	}

	&::after{
		content: '';
		clear: both;
		display: block;
	}
	button{
		position: absolute;
		height: 34px;
		line-height: 34px;
		padding: 0 10px;
		right: 3px;
		margin: 3px 5px 0 0;
		top: 0;
	}
}

#basket-voucher-line{
	font-size: 140%;
	text-align: right;
	color: #519310;
}


.removefrombasket{
	opacity: .6;
	background: transparent;
	border: 0 none;

	&:hover{
		opacity: 1;
	}
}

#basket-shipping-method {
	border-bottom: 1px solid @bg-gray-dark;
	margin-bottom: 30px;
	padding: 0 0 30px;
}

input.voucher-active{
	border-color: #519310;
	background: #c6eda3;
}
button.voucher-active{
	color: #519310;
	border-color: #519310;
}

#basket-trust{
	margin-top: 20px;
}



#basket {
	overflow-y: scroll;
	#basket-content-list{
		#basket-content-listhead{
			border-bottom: 1px solid #eee;
			border-top: 1px solid @bg-gray-dark;
			color: #666;
		}
		.basket-content-listitem{
			border-bottom: 1px solid #eee;

			a{
				color: #333;
			}
		}
	}
	#basket-total{
		border-bottom: 1px solid @bg-gray-dark;
		border-top: 1px solid @bg-gray-dark;
	}
}

#buy-more-free-shipping{
	display: block;
	line-height: 40px;
	font-style: italic;
	strong{
		color: @brand-primary;
	}
}


#basket-shipping-shop-select{
	width: 100%;
	margin-bottom: 30px;
	.line{
		display: block;
		&:after{
			content: '';
			clear: both;
			display: block;
		}
		input{
			float: left;
			margin-right: 10px;
		}
		span.shipping-name{
			float: left;
		}
		span.shipping-price{
			font-size: 13px;
			clear: both;
			display: block;
			@media(min-width:@screen-sm){
				float: right;
				display: inline-block;
				font-size: 16px;
				clear: none;
			}
		}
	}
	#basket-shipping-shop-select-pos{
		width: 100%;
		float: right;
		@media(min-width:@screen-sm){
			width: 340px;
		}
	}
	&:after{
		content: '';
		display: block;
		clear: both;
	}
	@media(max-width:@screen-sm){
		&:before{
			content: 'Vælg levering';
			font-size: 130%;
			text-align: center;
			width: 100%;
			margin-bottom: 20px;
		}
	}
}

#outofstock-message{
	display: block;
	background: #f5f4bc;
	padding: 20px;
	clear: both;
	margin-bottom: 30px;
	border:1px solid #e0df8e;
}


#basket-mini{
	display: none;
	top: 82px;
	// border: 1px solid @brand-primary;
	border-top: none;
	position: absolute;
	width: 200px;
	right: 10px;
	padding: 10px 5px;
	height: auto;
	background: #fafcfa;
	z-index: 999;
	box-shadow: 0 8px 20px rgba(0,0,0,.15);
	border-radius: 2px;
	span{
		font-size: 90%;	
		font-weight: 700;	
	}
	.btn{
		width: 100%;
	}
}


.addresspage, .paymentpage{
	#basket-persuasion{
		padding-top: 0;
	}
}
