#brandidentity{
	background-size: cover;
	background-position: center center;
	margin-bottom: 30px;
	text-align: center;
	padding: 120px 0 50px 0;
	box-sizing: border-box;
	color: #fff;
	min-height: 400px;
	text-shadow:0px 3px 10px rgba(0, 0, 0, 0.5);
	margin-top: 40px;
	height: auto;
	@media(min-width:@screen-sm){
		min-height: 450px;
		// padding: 250px 0 50px 0;
		padding: 170px 0 50px;
	}
	@media(max-width:767px){
		// padding: 60px 0 50px;
		h1{
			font-size: 30px!important;
		}
	}

	iframe{
		height: 100%;
		min-height: 100%;
	}
	input{
		color: @text-color;
	}
	h1{
		font-size: 42px;
		// margin: 0 0 5px 0;
		padding: 0 20px;
		color: @bg-gray;
		text-transform: uppercase;
		position: relative;
		&:after{
			content: "- opnå en bedre og mere balanceret hverdag.";
			clear: both;
			font-size: 60%;
			width: 100%;
			position: absolute;
			text-transform: none;
			font-weight: 400;
			bottom: -110px;
			height: 100px;
			left: 0;
			right: 0;
		}
	}
	h2{
		font-size: 20px;
		margin: 0;
	}
}
