#breadcrumbs{
	display: none;
	font-size: 80%;
	padding: 20px;
	@media (min-width: @screen-sm){
		display: block;
	}
	ol{
		margin:10px 0;
		padding:0;
		display: none;
		font-size: 80%;
		@media (min-width: @screen-sm){
			display: block;
		}
		li{
			padding-left: 0;
			display: inline-block;
			a{
				color: @brand-secondary;
				opacity: .7;
				font-weight: bold;

				&:after{
					content: '›';
					margin: 0 10px;
				}
				&:hover{
					text-decoration: none !important;
					opacity: 1;
				}
			}
			&#historyback{
				a{
					&:after{
						content: '';
						margin: 0;
					}
				}
				&:before{
					content: '‹';
					margin-right: 5px;
				}
				&:after{
					content: '|';
					margin: 0 10px;
				}
			}
			&#current{
				font-weight: 700;
			}

		}
	}
}