.subpage .categorylist {
	margin-top: 30px !important;
}
.cat-description{
	background: #fafcfa;
	padding:30px 0;
	&.descB{
		background: #fff;
	}
}
.categorylist {
	margin-top: -100px;
	margin-bottom: 20px;
	.category-teaser {}
	.category-layout {
		box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
		color: #333;
		margin-bottom: 30px;
		border-radius: 3px;
		overflow: hidden;
		font-weight: 600;
		background: #fff;
		.transition(all 200ms ease;
			);
		&:hover {
			text-decoration: none;
			box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
			.category-teaser-title {
                // text-decoration: underline;

            }
        }
    }
    .category-teaser-inner {
        // display: block;
    }
    a:first-of-type {
        // display: block;
    }
    .category-teaser-image {
    	width: 100%;
    	background-color: @bg-gray;
    	min-height: 120px;
    	padding: 3px;
    }
    .category-teaser-title {
    	text-align: center;
    	padding: 10px 5px 10px 12px;
    	min-height: 40px;
    	position: relative;
    	@media only screen and (min-width: @screen-sm) and (max-width: @screen-md) {
    		font-size: 90%;
            //padding: 14px 5px 0;
        }
        @media(min-width:@screen-sm) {
        	text-align: left;
        	display: inline-block;
        }
        @media(max-width:767px) {
        	font-size: 16px;
        	padding: 10px 0 0;
        }
        @media(max-width:470px) {
        	font-size: 13px;
        }
        &:after {
        	@media(max-width: @screen-sm) {
        		top: 18px;
        		margin-left: 10px;
        		right: inherit;
        	}
        	@media(max-width:470px) {
        		display: none;
        	}
            // content: "▶";
            content: "";
            position: absolute;
            right: -9px;
            top: 18px;
            font-size: 9px;
            color: @brand-secondary;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 0 4px 8px;
            border-color: transparent transparent transparent @brand-secondary;
            // }
        }
    }
    .category-teaser-description {
    	padding: 0px 12px 14px;
    	font-weight: 400;
    	font-size: 16px;
    	text-align: center;
    	@media only screen and (min-width: @screen-sm) and (max-width: @screen-md) {
    		padding: 0px 5px 14px;
    	}
    	@media(min-width:@screen-sm) {
    		font-size: 14px;
    		text-align: left;
    		min-height: 160px
    	}
    	@media(max-width:@screen-md) {
    		min-height: 155px;
    	}
    	@media(max-width:767px) {
    		min-height: 160px;
    	}
    	@media(max-width:470px) {
            // min-height: 94px;
            font-size: 14px;
            display: none;
        }
        p {
        	margin: 0;
        	a.small {
        		cursor: pointer;
        		font-size: 90%;
        		line-height: 1.7;
        		@media(min-width: @screen-sm) {
        			font-size: 100%;
        		}
        	}
        }
    }
}

#highlighted-products {
	padding: 40px 0 0;
	background: @bg-gray;
	h2.section-header {
		@media(min-width: @screen-sm) {
			position: relative;
			margin: 0 auto 60px;
			width: 300px;
			&:before {
				content: "";
				position: absolute;
				left: -50px;
				top: 20px;
				background: @brand-primary;
				height: 2px;
				width: 40px;
			}
			&:after {
				content: "";
				position: absolute;
				right: -50px;
				top: 20px;
				background: @brand-primary;
				height: 2px;
				width: 40px;
			}
		}
	}
}

.morelink-container a.more {
	padding: 10px 30px;
	border: 1px solid @brand-primary;
	border-radius: 2px;
	&:after {
		display: none;
	}
}
