/* C H E C K  O U T  F L O W
-------------------------------*/

#site.checkout{
  #sitehead{
    top: 0 !important;
    position: absolute !important;
  }
}
.thanksicn{
  font-size: 85px;
}
#checkout-content{
  padding: 30px 0;

  &.thanks{
    text-align: center;
  }
}

#checkout-next-btn{
  width: 100%;
  @media(min-width:@screen-sm){
    width: auto;
    float: right;
  }

}

.checkout-pages{
  box-shadow: 0 3px 10px rgba(0,0,0,.1);
  padding:20px;
  margin-bottom: 50px;
  @media(min-width:@screen-md){
    margin: 50px;
    padding: 50px;
  }
  textarea{
    width: 80%;
    max-width: 80%;
    height: 150px;
  }

  .rating {
    border: none;
    float: left;
  }

  .rating > input { display: none; }
  .rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: 'Glyphicons Halflings';
    display: inline-block;
    content: "\e006";
  }
  .rating > label {
    color: #A9A9AE;
    float: right;
  }

  /***** CSS Magic to Highlight Stars on Hover *****/

  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #467447;  } /* hover previous stars in list */

  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #59945a;  }
}


// Approve page
#approve-logo,
#order-logo{
  text-align: center;
}
#approve-logo{
  img{
    max-height: 60px;
  }
}

.approve-section,
.order-section{
  clear: both;
  border-top: 1px solid rgba(0,0,0,.1);
  margin-top: 30px;
  padding-top: 30px;
  &.about-you{
    border-top: 0;
    margin-top: 0;
  }
  &.cta{
    text-align: center;
  }
  h1{
    margin: 0;
  }
}

// Update the users contact and delivery informations

#changeAddress {
  margin: 0 auto;
  display: none;
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.3)
}

.changeAddressStyle {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #ddd;
  background: #fff;
  margin: 30px 0;
  padding: 35px 30px 30px 30px;
}