#checkout_indicator{
	display: none;
	@media (min-width: @screen-sm){
		display: inline-block;
	}
	ol{
		margin:10px 0;
		padding:0;
		display: none;
		font-size: 80%;
		@media (min-width: @screen-sm){
			display: inline-block;
		}
		li{
			padding-left: 0;
			display: inline-block;
			font-weight: 700;
			a{
				color: @brand-secondary;	
			}
			&:after{
				content: '›';
				margin: 0 10px;
				
			}
			&:last-child:after{
				content: '';
			}

			&:hover{
				text-decoration: none !important;
				opacity: 1;
			}
			&.future{
				opacity: .4;
				font-weight: 500;
				a{
					pointer-events: none;
					cursor: default;					
					&:hover{
						text-decoration: none;
					}
				}
			}
			&.current{
				a{
					color: @brand-primary;
					font-weight: 700;
				}
			}
		}
		
		

	}
}


