#cookiepolicy{
	position: fixed;
	z-index: 1000;
	min-height: 80px;
	bottom: 0;
	background: #000;
	background: rgba(0,0,0,.9);
	color: #fff;
	display: none;
	width: 100%;
	.closebtn{
		position: absolute;
		right: 20px;
		top: -20px;
		width: 40px;
		height: 40px;
		border-radius: 80px;
		border: 4px solid #fff;
		background: #111;
		font-size: 150%;
		overflow: hidden;
	}

	#cookiepolicy-inner{
		padding: 30px 15px;
		
	}
	
}