@charset "UTF-8";

@font-face {
	font-family: "govita";
	src:url("/fonts/govita.eot");
	src:url("/fonts/govita.eot?#iefix") format("embedded-opentype"),
	url("/fonts/govita.woff") format("woff"),
	url("/fonts/govita.ttf") format("truetype"),
	url("/fonts/govita.svg#govita") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: "govita" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "govita" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-basket:before {
	content: "a";
}
.icon-tick:before {
	content: "b";
}