#instafeed-container{
	position: relative;
	background: @brand-primary;
	padding: 20px 0;
	@media (max-width: @screen-sm){
		display: none;
	}
	a:hover{
		text-decoration: none;
	}
	h3.section-header{
		padding: 30px 0;
		color: #fff;
		font-weight: 400;
		width: 400px;
		margin: auto;
		position: relative;
		@media (min-width: @screen-sm){			
			&:before{
				content: "";
				position: absolute;
				left: -40px;
				top: 45px;
				background: #fff;
				height: 2px;
				width: 40px;
			}
			&:after{
				content: "";
				position: absolute;
				right: -40px;
				top: 45px;
				background: #fff;
				height: 2px;
				width: 40px;
			}
		}
	}
	#instafeed{
		overflow: hidden;
		@media (min-width: @screen-sm){	
			max-height: 288px;
		}
		@media (min-width: @screen-md){	
			max-height: 260px;		
		}
		@media (min-width: @screen-lg){	
			max-height: 320px;
		}
		img{
			height: auto;
			width: 20%;
			border:2px solid #fff;
			@media (min-width: @screen-md){	
				width: 12.2%;
				margin: 1%;				
			}
			
		}
	}

}