#nav-container{
	position: static !important;
}

#sitenav li{
	.sitenav-expanded{
		@media(min-width:@screen-md){
			padding-left: 0;
			position: absolute;
			z-index: 999;
			left: 0px;
			width: 100%;
			display: none;

			box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
		}
		.sitenav-expanded-content{
			@media(min-width:@screen-md){
				background: #fff;
				.subcat-expander{
					display: none;
				}
			}
			.subcat-expander{
				float: right;
				background: transparent;
				border: 0 none;
				font-size: 100%;
				width: 50px;
				height: 50px;
				line-height: 45px;
				border-left:1px solid #efefef;
				padding: 0;
				margin: 0;
			}
			@media(min-width:@screen-md){
				padding:10px 0;
			}

			ul{
				width: 100%;
				@media(max-width:@screen-sm-max){
					border-top:1px solid #efefef;
				}
				@media(min-width:@screen-md){
					width:@screen-md;
					padding:10px;
				}
				margin: 0 auto;

				li{
					@media(min-width:@screen-md){
						width:25%;
						float: left;
					}
					&:after{
						content: '';
						clear: both;
					}

					ul.subitem-subcats{

						width: auto;
						padding:0px;
						display: none;
						&.expanded{
							display: block;
							background: #f0f0f0;
						}
						@media(min-width:@screen-md){
							display: block;
						}
						li{
							width: 100%;
							float:none;
							display: block;
							@media(min-width:@screen-md){
								font-size: 80%;
							}

							a{
								float: none;
							}
						}
					}
				}
			}

			a{
				display: block;
				color: #333;
				@media(min-width:@screen-md){
					width: 100%;
					padding: 8px 0;
				}

				&:hover{
					text-decoration: none;
					color: @brand-secondary;
				}
			}

			&:after{
				display: block;
				content: '';
				clear: both;
			}
		}

	}
	&:hover{
		.sitenav-expanded{
			display: block;

		}
	}
}

/*
	.sitenav-expanded{
		@media (min-width: @screen-sm){
			min-width: 170px;
			max-width: 380px;
		}
		.sitenav-expanded-content{
			padding: 0!important;

			.collapse{
				@media (min-width: @screen-sm){
					display: block;
				}
			}
		}
		ul {
			padding: 5%;
			padding-right: 10px;
			li{
				display: inline-block;
				width: 100%;
				border-bottom: 1px solid #efefef;
				@media (min-width: @screen-sm){
					padding-bottom: 10px;
				}
				a{
					display: inline-block!important;
					border: none;
					&.sub-category{
						padding-left: 10px;
						font-size: 80%;
						@media (min-width: @screen-sm){
							margin: 5px;
						}
					}
				}
				.btn-default{
					float: right;
					margin-top: 7px;
					border-radius: 0;
					border-color: #333;
					border: none;
					outline: none!important;
					font-size: 20px;
					@media (min-width: @screen-sm){
						display: none;
					}
					&:hover{
						background-color: transparent;
					}
					&:active{
						box-shadow: none;
					}
					i{
						font-size: 0.6em;
					}
				}
			}
		}
	}	*/