#site{
	position: relative;
	top: 0;
	width: 100%;
	right: 0;
	left: 0;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

body.toggled-sitenav{

	#sitenav{
		display: block;


		li._active{
			a{
				border:0 !important;
			}
		}
	}

}
.takeover-close{
	display: block;
	position: absolute;
	top: 10px;
	right: 20px;
	width: 40px;
	height: 40px;
	background: rgba(0,0,0,.9);
	color: #fff;
	border: 0;
	font-size: 30px;
	line-height: 40px;
	padding: 0;
	text-align: center;
	font-weight: 300;
	font-family: Arial, Helvetica, 'Hevletica neue', sans-serif;
}

#sitenav{
	position: fixed;
	background: rgba(255,255,255,.95);
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 1001;
	display: none;
	overflow-y: scroll;
	font-size: 20px;
	-webkit-overflow-scrolling: touch;
	@media (min-width: @screen-md){
		font-size: 15px;
		.takeover-close{
			display: none;
		}
		overflow:hidden;
	}
	@media (min-width: @screen-lg){
		font-size: 16px;
		.takeover-close{
			display: none;
		}
		overflow:hidden;
	}

	@media (min-width: @screen-md){
		position: static;
		width: auto;
		height: auto;
		background: transparent;
		display: block;
	}


	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		ul{

		}
		@media (min-width: @screen-md){
			padding: 0;
		}

		li{

			display: block;
			border-bottom: 1px solid #efefef;
			line-height: 50px;
			@media (min-width: @screen-md){
				border:0 none;
				display: inline-block;
				padding: 0;
			}
			li{
				padding:0;
				line-height: 1;
				@media(max-width:@screen-sm-max){
					line-height: 50px;
				}
			}


			font-weight: 300;
			> a{
				padding: 0 20px;
				display: block;
				@media (min-width: @screen-md){
					color: #333;
					padding: 12px 7px;
				}
				@media (min-width: @screen-lg){
					padding: 12px;
				}
				border-top:3px solid transparent;
				.transition(all 200ms ease;);
				&:hover{
					text-decoration: none;
					@media (min-width: @screen-md){
						color: @brand-secondary;
						border-top:3px solid @brand-secondary;
					}
				}
			}
			&._active{
				a{
					border-top:3px solid @brand-primary;

					&:hover{
						@media (min-width: @screen-md){
							color: #333;
						}
					}
				}
			}
		}
	}
}
#sitenav .sitenav-expanded-content ul>li>a{
	border: none;
}

#sitenav-toggler{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 18px;
	left: 20px;
	font-size:20px;
	background: transparent;
	border: 0 none;
	// border:1px solid rgba(51, 51, 51, 0.1);
	border-radius: @border-radius-base;
	text-align: center;
	padding: 0;
	&:before{
		font-size:24px;
	}
}
@media (max-width:@screen-md){
	#logo-container,
	#nav-container,
	#sitesearch-container{
		position: static !important;
	}
}
// @media (max-width:@screen-lg){
	#nav-container{
		margin: 0;
		padding:0;
	}
// }
#basket-toggler{
	width: 50px;
	height: 50px;
	font-size:20px;
	border: 0 none;
	color: #333;
	border-radius: @border-radius-base;
	padding: 0;
	// background: url(/img/basket.png) no-repeat;
	background: url(/img/icons/basket.png) no-repeat;
	background-position: center center;
	position: absolute;
	background-size: 60%;
	// border:1px solid rgba(51, 51, 51, 0.1);
	top: 15px;
	right: 20px;
	line-height: 1;
	text-align: center;
	outline: none!important;
	@media (min-width: @screen-md){
		background-size: 66%;
		position: relative;
		top: 2px;
		right: 0;
		float: right;
		// margin-right: 10px;
	}

	&.cartfull{
		// background: @brand-primary;
		// border-color: @brand-primary;
		color: #fff;
		&:after{
			content: (attr(data-quantity-count));
			position: absolute;
			top: 1px;
			left: 30px;
			background:@brand-third;
			width: 23px;
			height: 23px;
			line-height: 24px;
			text-align: center;
			color: #fff;
			border-radius: 40px;
			font-size: 16px;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			// box-shadow: 1px 2px 0 rgba(255,255,255,.6);
		}
	}
	&.cartempty{
		&:after{
			display: none;
		}
	}
	&:before{
		font-size: 40px;
	}
}
span.basket-text{
	display: none;
	@media (min-width: @screen-md){
		display: block;
		position: relative;
		top: 33px;
		// right: 5px;
		font-size: 85%;
		float: right;
	}
}
@media (min-width: @screen-md){
	#basket-toggler{
		margin-top: 10px;
	}
}


#shopon{
	width: 100%;
	margin-bottom: 5px;
	@media(min-width:@screen-sm){
		width: auto;
		margin-bottom: 0;
	}
}
