
#newsletterpopup{
    @media(max-width:@screen-xs-max){
        width:90%;
        max-width: 500px;
        height: 350px;
        margin: 0 5%;
    }
    @media(min-width:@screen-sm){
        width: 500px;
        height: 300px;
    }
    padding: 20px;
    position: fixed;
    bottom: -600px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    z-index: 800;
    box-sizing: border-box;
    border: 2px solid #fff;

    &.left{
        @media(min-width:@screen-sm){
            left:30px;
        }
    }
    &.right{
        @media(min-width:@screen-sm){
            right:30px;
        }
    }
}

#newsletterpopup-deactivate{
    width: 40px;
    height: 40px;
    background: #000;
    color: #fff;
    border-radius: 100px;
    line-height: 1;
    text-align: center;
    position: absolute;
    right: -15px;
    top: -15px;
    border:2px solid #fff;
}

#newsletterpopup-reactivate{
    z-index: 799;
    position: fixed;
    height: 60px;
    line-height: 60px;
    border: 0 none;
    bottom: -60px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    @media(max-width:@screen-xs-max){
        width:90%;
        max-width: 500px;
        margin: 0 5%;
    }
    @media(min-width:@screen-sm){
        width: 300px;
    }
    &.left{
        @media(min-width:@screen-sm){
            left:30px;
        }
    }
    &.right{
        @media(min-width:@screen-sm){
            right:30px;
        }
    }
}



.newsletterpopup-left{
    float: left;
    @media(max-width:@screen-xs-max){
        display: none;
    }
    @media(min-width:@screen-sm){
        width: 170px;
        min-height: 30px;
        margin-right: 20px;
    }

}

.newsletterpopup-right{

    @media(max-width:@screen-xs-max){

    }
    @media(min-width:@screen-sm){
        width: 266px;
        float: right;
    }
}

h3.newsletterpopup-headline{

}
.newsletterpopup-text{

}
#newsletterpopup-form{
    #newsletterpopup-mail{
        width: 100%;
        border-radius: 2px;
        border: 0 none;
        line-height: 26px;
        margin: 5px 0;
        color: #ccc;
        padding: 5px 10px;
        border:1px solid #333;
        &::-webkit-input-placeholder {
            color: #333;
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: #333;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
            color: #333;
        }

        &:-ms-input-placeholder {
            color: #333;
        }
    }

    #newsletterpopup-submit{
        background: @brand-secondary;
        border-color: @brand-secondary;
    }
}

.newsletterpopup-thankyou{
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: none;
    padding: 30px 0 0 0;
    box-sizing: border-box;
}