#persuasion{
	padding-bottom:80px;
	padding-top: 80px;
	//border-top: 1px solid #ddd;
	background: rgba(255,255,255,.5);
}
.persuasion-box{
	text-align: center;
	margin-bottom: 30px;

	.persuasion-box-inner{
		&:before { 
			font-family: 'govita';
			content: "b";
			font-size: 20px;
			display: inline-block; 
			color: @brand-third;
			width: 40px;
			height: 40px;
			border: 1px solid @brand-primary;
			padding: 5px;
			border-radius: 50%;
		}
		span{
			display: block;
			margin-top: 10px;
		}
	}
	
}