
#closefilter{
	width: 40px;
	height: 40px;
	position: absolute;
	right: 25px;
	top: 30px;
	background: @brand-primary;
	color: #fff;
	border: 0 none;
	padding: 0;
	line-height: 47px;
	font-size: 40px;
	border-radius: @border-radius-base;					
	display: none;		
	z-index: 97;			
}

#toggle-filter{
	display: block;
	float: left;
	margin: 0px 15px;
	border: 0 none;
	background: #fff;
	border-radius: @border-radius-base;
	padding: 5px 10px;
	border:1px solid #ccc;
	@media(min-width:@screen-sm){
		display: none;
	}
}

#product-list-filter{
	// display: none;
	@media(min-width:@screen-sm){		
		display: block;
	}
	z-index: 110;
	height: 50px;
	padding: 10px 0;
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	top: 0;
	z-index: 50;
	min-height: auto;
	position: static;
	background: #fafafa;
	&.scrolled{
		position: fixed;
		top: 80px;
		box-shadow: 0 2px 20px rgba(0,0,0,.15);
	}
	&.mobile-filter-active{
		overflow-y: scroll;
		height: 100%;
		@media (max-width: @screen-xs-max){
			position: fixed;
			top: 80px;
			z-index: 95;
			padding-bottom: 140px;
		}
		.options-group{
			display: block!important;
		}
		.product-filters{
			margin-top: 40px
		}
		.product-filters-result{
			float: none!important;
			// margin-right: 20px;
			position: absolute;
			top: 30px;
			display: inline-block;
			margin: auto!important;
			left: 0;
			right: 0;
			text-align: center;
			width: 150px;
		}
		.filter-choice-reset{
			display: none;
		}
		#toggle-filter{
			display: none;
		}
		#closefilter{
			display: block;
		}
	}

	// the filter


	.product-filters{

		.options-group{
			display: none;
			@media(min-width:@screen-sm){
				display: inline-block;
				float: left;
				margin-right: 10px;
				margin-top: 0;
				padding-right: 30px;
			}
			@media(min-width:@screen-sm){
				height: 30px;
			}
			position: relative;
			.options-title{
				width: 100%;
				font-weight: 700;
				@media(min-width:@screen-sm){
					height: 30px;
					line-height: 30px;
					font-weight:normal;
				}
				box-sizing: border-box;
				padding: 0 5px;
				cursor: pointer;
				display: block;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				&:after{					
					content: '';
					border-color: #909090 transparent;
					border-style: solid;
					border-width: 4px 4px 0;
					height: 0;
					margin-left: 10px;
					margin-top: -2px;
					position: absolute;
					top: 50%;
					width: 0;					
				}
				&:hover{
				}
			}

			.expanded-area{
				display: block;
				@media(min-width:@screen-sm){
					display: none;
					background: #fff;
					box-shadow: 0 2px 4px rgba(0,0,0,.25);
					position: absolute;
					z-index: 100;
				}
				.multi-select{
					padding:15px;
					ul{
						list-style-type: none;
						margin: 0;
						padding: 0;
						li{
							label{
								white-space: nowrap;
								line-height: 25px;
								font-weight: normal !important;
								cursor: pointer;
								&:hover{
									opacity: .8;
								}
								input{

								}
							}
						}

						&.productcats{
							@media(min-width:@screen-sm){
								width: 340px;
								-webkit-columns: 160px 2; /* Chrome, Safari, Opera */
								-moz-columns: 160px 2; /* Firefox */
								columns: 160px 2;
							}
							li{

							}
						}
					}
				}
			}

			&.expanded{
				.expanded-area{
					@media(min-width:@screen-sm){
						display: block;
					}
				}
			}
		}
		.filter-result-clear{

			line-height: 2.1;
			@media(min-width:@screen-sm){
				float: right;
			}
			.product-filters-result{
				float: right;
				margin-right: 20px;
				span{
					font-weight: 700;
				}
			}
			.filter-choice-reset{
				float: left;
				border: 0 none;
				background: transparent;
				color: @brand-primary;
				@media(min-width:@screen-sm){
					float: right;
				}
				span{

				}
			}
		}
	}
}




