

// Rating
.rating-1,.rating-2,.rating-3,.rating-4,.rating-5{
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	line-height: 1;
	vertical-align: middle;
	color: #467447;
}

.rating-1{
	&:before{
		content: '\e006';
	}
	&:after{
		content: '\e006 \e006 \e006 \e006';
		opacity: .4;
	}
}
.rating-2{
	&:before{
		content: '\e006 \e006';
	}
	&:after{
		content: '\e006 \e006 \e006';
		opacity: .4;
	}
}
.rating-3{
	&:before{
		content: '\e006 \e006 \e006';
	}
	&:after{
		content: '\e006 \e006';
		opacity: .4;
	}
}
.rating-4{
	&:before{
		content: '\e006 \e006 \e006 \e006';
	}
	&:after{
		content: '\e006';
		opacity: .4;
	}
}
.rating-5{
	&:before{
		content: '\e006 \e006 \e006 \e006 \e006';
	}
}
#review{
	cursor: pointer;
}
// Product page

#productpage-content{
	padding: 20px 0 0;
	padding-bottom: 60px;
	position: relative;
	@media(min-width:@screen-sm) and (max-width:991px) {
		margin-top: 50px;
	}

	h1{
		margin: 0;
		font-size: 30px;
		@media(min-width:@screen-md){
			font-size: 40px;
		}
	}

}
#product-info-container{
		padding-top: 50px;
	> div{
		margin: 20px 0;
	}
	a{
		color: @brand-secondary;
	}

	#rating{

	}
	#product-info-sku{
		margin-top: 0;
		font-size: 80%;
		color: lighten(@text-color, 50%)
	}
	#product-info-brand{
		span{
			font-weight: 700;
		}
	}
	#product-page-kpp{
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0 0 0 15px;
			li{
				&:before{
					font-family: 'govita';
					content: 'b';
					margin-right: 10px;
				}
			}
		}
	}
	#product-page-cta-container{
		background-color: @bg-gray;
		padding: 2px;
		border-radius:  @border-radius-base;
		border: 1px solid @bg-gray-dark;
		#product-page-cta{
			background: #fff;
			padding: 20px;
			// border-radius: @border-radius-base;
			&:after{
				content: '';
				clear: both;
				display: block;
			}
			#product-cta-price,
			#product-cta-action{
				#amount-input{
					padding:6px;
					text-align: center;
				}
				text-align: center;
				@media (min-width: @screen-sm){
					width: 50%;
					float: left;
					text-align: left;
				}
				input, button{
					height: 44px;
				}
				span{
					width: 80%;
					button{
						width: 100%;
					}
				}
			}
			#product-cta-price{
				font-size:30px;
				line-height: 34px;
				margin-bottom: 20px;
				@media (min-width: @screen-sm){
					font-size: 20px;
					margin-bottom: 0px;
				}

				.product-cta-before{
					font-size: 14px;
					text-decoration: line-through;
					color: lighten(@text-color, 50%);
					line-height: 0.5;
					@media (min-width: @screen-md){
						font-size: 80%;
					}
				}
				.product-cta-current{
					font-size: 24px;
					font-weight: bold;
					@media (min-width: @screen-md){
						font-size: 140%;
						padding-top: 15px;
					}
				}
				.product-cta-delivery{
					font-size: 14px;
					@media (min-width: @screen-md){
						font-size: 80%;
					}
				}
			}
			#product-cta-action{
				@media (min-width: @screen-sm){
					padding: 10px 0 10px 30px;
					border-left: 1px solid @bg-gray-dark;
				}

				.product-variant-selecter{
					width: 100%;
					height: 40px;
					margin-bottom: 10px;
					select{
						width: 100%;
						height: 40px;
						line-height: 40px;
						padding: 0 0 0 15px;
						border:1px solid #ccc;
						background: #f5f5f5;
						border-radius: @border-radius-base;
					}
				}
			}
		}
		#product-page-persuasion{
			padding: 10px 50px;
			font-size: 80%;
			display: table;
			width: 100%;
			@media(max-width:@screen-sm){
				padding: 10px 20px;
			}
			.product-page-persuasion-inner{
				text-align: center;
				// @media(min-width:@screen-sm){
					display: table-row;
					width: 100%;
				// }
				.usp{
					line-height: 20px;
					vertical-align: middle;
					&:before{
						font-size: 16px;
						line-height: 16px;
						position: absolute;
						margin-left: -25px;
					}
					display: block;
					// @media(min-width:@screen-sm){
						display: table-cell;
						text-align: left;
						padding: 10px 20px;
						color: @brand-secondary;
					// }
				}
			}
		}

	}
	#product-page-extras{
		text-align: center;
		padding: 0px;
	}

}
#product-page-expanded{
	margin-top: 30px;
	.tab-content{
		border-bottom:1px solid @table-border-color;
		border-left:1px solid @table-border-color;
		border-right:1px solid @table-border-color;
		border-radius: 0 0 @border-radius-base @border-radius-base;
		padding: 20px;
	}
}

#related{
	//background: url('../img/marmor.jpg') no-repeat top center;
	// background:#fff url('../img/kd-pattern.gif') repeat;
	h3{
		text-align: center;
		margin-bottom: 30px;
	}
	border-top: 1px solid @table-border-color;
	padding-top:20px;
	margin-top: 30px;
}

#product-info-show-desc{
	color: @brand-secondary;
	text-decoration: underline;
	&.show{
		visibility: hidden;
	}
}
#product-info-hide-desc{}
#product-page-longdescription{
	display: block!important;

	span{
		font-family: Lato,sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.42857143;
		text-align: left;
	}
}

.putinbasket{
	background: @brand-cta;
	border-color: @brand-cta;
	&:hover, &:focus{
		background: lighten(@brand-cta, 10%);
		border-color: @brand-cta;
	}

	&:before{
		display: inline-block;
		margin-right: 5px;
	}
}