
// Product lists

#product-page-image{
	@media (min-width: 768px){
		margin: 50px 0px;
		padding-top:20px; 
	}
}

#product-list-head{
	padding: 20px 0 0;	
	text-align: center;
	background-color: @bg-gray;
	h1{
		text-align: center;	
		display:inline-block;	
		position: relative;	
		@media (min-width: 768px){
			&:before{
				content: "";
				position: absolute;
				left: -50px;
				top: 25px;
				background: #333;
				height: 2px;
				width: 40px;
			}
			&:after{
				content: "";
				position: absolute;
				right: -50px;
				top: 25px;
				background: #333;
				height: 2px;
				width: 40px;
			}
		}
	}	
}

#products{
	padding: 50px 0;
	background-color: @bg-gray;
}


.product-list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.morelink-container{
	text-align: center;
	padding: 50px 0;
}
.more{
	&:after{
		content: " →";
	}
}

#noproducts{
	display: none;
	text-align: center;
}

.product-teaser{
	.product-teaser-inner{
		background: #fff;
		margin-bottom: 30px;
		box-shadow: 0 2px 2px rgba(0,0,0,.1);
		border-radius: @border-radius-base;
		overflow: hidden;

		.transition(all 200ms ease;);
		
		&:hover{
			box-shadow: 0 4px 10px rgba(0,0,0,.2);

			.sizes{
				opacity: 1;
			}
		}
		a{
			color: #333;	
			&:hover{
				text-decoration: none;
			}

			.sizes{
				background: #fff;
				position: absolute;
				padding: 15px;
				text-align: center;
				opacity: 0;
				font-size: 12px;
				right: floor((@grid-gutter-width / 2));

				.transition(opacity 200ms ease;);

				&:before{
					content: 'Størrelser på lager:';
					font-weight: 700;
				}
				ul{
					list-style-type: none;
					margin: 10px 0 0 0;
					padding: 0;
					li{

					}
				}
			}

			.product-image-area{
				background: #e8e8e8;
				min-height: 213px;
				@media(min-width:@screen-lg){
					min-height: 263px;
				}			
			}
			img.product-image{
				width: 100%;
				// border:10px solid #fff;
			}
			.product-teaser-highlight{
				width: 60px;
				height: 60px;
				line-height: 60px;
				text-align: center;
				color: #fff;
				position: absolute;
				top:-15px;
				left:5px;
				// background: transparent url('../img/splat.svg') no-repeat;
				background: #fff;				
				// color: @brand-primary;
				// border-radius: 50%;
				// border: 1px solid @brand-primary;
				font-weight: bold;
				font-size: 12px;

				&.news{
					background: transparent url('../img/splat-green2.svg') no-repeat;
					// background: #fff;				
					color: #fff;
					// border-radius: 50%;
					// border: 1px solid @brand-primary;
				}
				&.offer{
					font-size: 16px;
					background: transparent url('../img/splat-green3.svg') no-repeat;
					color: #fff;
					// border-radius: 50%;
					// border: 1px solid @brand-primary;
				}
				&.customtext{
					font-size: 16px;
					background: transparent url('../img/splat-green4.svg') no-repeat;
					background-size: contain;
					width: auto;
					max-width: 100px;
					line-height: 53px;
					padding: 0 9px;
					// border-radius:10px;
					color: #fff;
					// border-radius: 50%;
					// border: 1px solid @brand-primary;
				}
			}
			.product-teaser-meta{
				padding: 15px;
				height: 200px;

				.product-teaser-title{
					font-weight: 600;
					font-size: 100%;
				}
				.product-teaser-brand{
					margin-bottom: 5px;
				}
				.product-teaser-text{
					font-size: 80%;
				}
				.product-teaser-rating{}
				.product-teaser-price{
					font-size: 110%;
					font-weight: 600;
					margin-top: 10px;
					.product-teaser-price-before{
						font-size: 80%;
						text-decoration: line-through;
						color: lighten(@text-color, 60%);
					}
					.product-teaser-availability{
						font-size:60%;
						display: block;
						font-weight: 300;
						&.instock{
							&:before {   
								font-family: 'Glyphicons Halflings';
								content: "\e013";
								font-size: 70%;
								margin-right: 5px;
								color: @brand-primary;
							}
						}
					}
					.product-teaser-price-current{
						.product-teaser-currency{}
						.product-teaser-price{}
					}
				}
			}
		}
		.product-teaser-cta{
			padding: 15px;
			text-align: center;
			border-top: 1px solid #efefef;
			.product-teaser-quantity{
				width: 30px;
				height: 34px;
				border: 1px solid #ccc;
				border-radius: @border-radius-base;
				text-align: center;
				display: inline-block;
			}
			.product-teaser-addtobasket,
			.product-teaser-readmore{
				display: inline-block;
				width: 100%;
				padding: 10px 0; 
				color: #fff;
				border-radius: 2px;
				border: none;
				background: @brand-secondary;
			}
		}
	}
}

#product-list-pagination{
	text-align: center;
	padding-bottom: 150px;
	padding-top: 100px;
	span{
		display: block;
		margin-bottom: 20px;
	}
	a{
		border:1px solid #ccc;


	}
}
