#sitehead-sitesearch{
	position: absolute;
	display: none;
	@media (min-width:@screen-md){
		position: static;
		display: block;
		input{
			background: transparent;
			border:1px solid #467447;
			height: 40px;
			line-height: 40px;
			border-radius: 4px;
			padding: 5px 10px;
			margin-top: 21px;
			position: relative;
			width: 100%;
			.transition(all 200ms ease;);
			&:focus{
				border:1px solid #467447;
				background: rgba(255,255,255,.7);
				outline: none!important;
			}
		}

		button{
			position: absolute;
			right: 20px;
			top: 27px;
			background: transparent;
			height: 30px;
			width: 30px;
			border: 0 none;
			// color: rgba(51,51,51,.3);
			color: #333;
			&:hover{
				color: #467447;
			}
		}
	}
}

#frontpage-search{
	margin-top: 30px;
	position: relative;
	input{
		width: 100%;
		height: 60px;
		background: #fff;
		border:0 none;
		padding: 0 25px;
		line-height: 60px;
		border-radius: 4px;  
	}
	button{
		height: 54px;
		padding: 0 15px;
		top: 3px;
		right: 18px;
		border: 0 none;
		background: @brand-cta;
		color: #fff;
		font-size:18px;
		border-radius: 4px;
		width: 100%;
		@media(min-width:@screen-md){
			position: absolute;
			width: auto;
		}
	}
}


#mobile-search{

	margin: 50px 0 20px 0;
	padding: 20px;
	position: relative;
	width: 100%;
	height: 50px;

	form{
		margin: 0;
		padding: 0;
		position: relative;
		width: 100%;
		height: 50px;

		#mobil-search-input{
			height: 50px;
			width: 100%;
			position: absolute;
			padding-left: 15px;
			border:1px solid #467447;
			outline: none!important;
		}
		#mobil-search-btn{
			height: 49px;
			width: 10%;
			min-width: 100px;
			position: absolute;
			right: 0px;
			top: 0px;
			border: 0 none;
			background: @brand-primary;
			color: #fff;
			padding: 0;
			border-radius: 2px;
			text-align: center;

		}
	}
}

