

#sitefoot{
	background: #fff;
	padding: 0 0 70px 0;
	//color: #fff;
	#sitefoot-head{
		margin-bottom: 30px;
		padding: 30px 0 50px;
		text-align: center;
		border-bottom: 1px solid @bg-gray-dark;
		position: relative;
		img{
			max-width: 100%;
			margin: 3px;
		}
		.creditcard{
			&:before{
				font-size: 70px;
				line-height: 1;
			}
		}
		p{
			margin-top: 20px;
		}
		&:after{
			content:"";
			background: #fff url(/img/icons/spacer.png) no-repeat;
			background-size: contain;
			background-position: center center;
			position: absolute;
			bottom: -22px;
			left: 0;
			right: 0;
			display: block;
			margin: auto;
			width: 60px;
			height: 50px;
			text-align: center;
		}
	}
	.sitefoot-box{
		margin-bottom: 30px;

		@media(max-width:767px){
			text-align:center;
		}

		.sitefoot-box-inner{
			min-height: 210px;
			a{
				display: block;
				color: @brand-secondary;
				&:hover{
					text-decoration: none;
					opacity: 0.8;
				}
			}
			@media(max-width:767px){
				text-align:center;
			}

			ul{
				margin: 0;
				padding: 0;
				list-style-type: none;

				li{

					a{
						padding:10px 0;
						// border-bottom: 1px solid rgba(0,0,0,.1);
						display: block;
						color: @brand-primary;
						text-decoration: underline;

						&:hover{
							text-decoration: none;
							opacity: 0.8;
						}
					}
					&:last-child{
						a{
							border-bottom: 0;
						}
					}
				}
			}
		}

	}

	#sitefoot-socialmedia{

		a:before{
			/*font-family: 'xicns';*/
			content: '';
			font-size: 20px;
			display: inline-block;
		}
		#mc_embed_signup{
			margin-top: 0!important;
			@media(max-width:767px){
				margin-top: 50px!important;
			}
		}

		/*#sitefoot-socialmedia-facebook:before{content: "\e608"}
		#sitefoot-socialmedia-twitter:before{content: "\e607";}
		#sitefoot-socialmedia-googleplus:before{content: "\e609";}
		#sitefoot-socialmedia-instagram:before{content: "\e60b";}
		#sitefoot-socialmedia-pinterest:before{content: "\e60a";}*/
	}
}

#totop{
	position: fixed;
	bottom: -70px;
	right: 20px;
	z-index: 90;
	border:0 none;
	padding: 5px 10px;
	background: darken(@brand-primary, 30%);
	border-radius: 3px;
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
	.transition(all 200ms ease;);
	&.scrolled{
		bottom: 50px;
	}
}