#upper-sitehead{
	background: @bg-gray;
	// background: blue;
	top: 0px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #efefef;
	box-sizing: border-box;
	font-size: 80%;
	display: none;

	.usp{
		position: relative;
		vertical-align: middle;
		margin-right: 30px;
		padding-left: 25px;
		&:before{
			font-size: 15px;
			position: absolute;
			margin:12px 0  0 -25px;			
		}
		&.icon-check:before{
			font-family: 'govita';
			content: "/b";
			font-size: 15px;	
			opacity: 0.8;	
		}
	}
	@media(min-width:@screen-md){
		display: block;
	}
}

#sitehead{
	//background: rgba(255, 255, 255, .6);
	background: #fff;
	width: 100%;
	height: 80px; // 80px base + 30px
	z-index: 100;
	top: 0;
	position: fixed;
	@media(min-width:@screen-md){
		top: 40px;
		position: absolute;
	}
	
	box-shadow: 0 2px 2px rgba(0,0,0,0);
	box-shadow: 0 2px 20px rgba(0,0,0,0.15);
	.transition(background 200ms ease,box-shadow 200ms ease;);

	&:after{
		width: 100%;
		height: 6px;
		content: '';
		position: absolute;
		bottom: -6px;
		// background: url('../img/zigzag-border.svg') repeat-x;
		//opacity: .6;
		.transition(opacity 200ms ease);
	}
	&.scrolled{
		position: fixed;
		background: #fff;
		box-shadow: 0 2px 20px rgba(0,0,0,.15);
		top: 0;
		/*&:after{
			opacity: 1;
			}*/
		}
	}

	.addresspage #sitehead,
	.paymentpage #sitehead,
	.thankspage #sitehead,
	.basketpage #sitehead{
		top:0;
	}

	#logo-container{
		text-align: center;
		#logo{
			display: block;
			width: 50%;
			max-width: 360px;
			margin: 5px auto 0 auto;
			img{
				max-height: 66px;
				@media (min-width: @screen-md){
					float: left;
				}
			}
			@media (min-width: @screen-md){
				margin:6px auto auto auto;
				width: auto;
			}


		}
	}