// Core variables and mixins
@import "bootstrap/_variables.less";
@import "bootstrap/_mixins.less";

// Reset and dependencies
@import "bootstrap/_normalize.less";


// Core CSS
@import "bootstrap/_scaffolding.less";
@import "bootstrap/_type.less";
@import "bootstrap/_grid.less";


@brand-primary: #333;
@mobilenav-bg: #243840;
@brand-secondary: #467447;
@brand-third: #72BA6F;
@brand-cta: @brand-secondary;
@bg-gray:   #fafcfa;
@bg-gray-dark:  #D6D6D6;

// Predelivery stuff
@import "sections/_sitehead.less";
@import "sections/_navigation.less";
//@import "sections/_product.less";



