// Font import - delete with theme css
//@import url(http://fonts.googleapis.com/css?family=Signika:300,600);
// @import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
/*@font-face {
	font-family: 'xicns';
	src:url('../fonts/xicns.eot?-h4rmnz');
	src:url('../fonts/xicns.eot?#iefix-h4rmnz') format('embedded-opentype'),
	url('../fonts/xicns.woff?-h4rmnz') format('woff'),
	url('../fonts/xicns.ttf?-h4rmnz') format('truetype'),
	url('../fonts/xicns.svg?-h4rmnz#xicns') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
// Core variables and mixins
@import "bootstrap/_variables.less";
@import "bootstrap/_mixins.less";

// Reset and dependencies
@import "bootstrap/_normalize.less";
@import "bootstrap/_print.less";
@import "bootstrap/_glyphicons.less";

// Core CSS
@import "bootstrap/_scaffolding.less";
@import "bootstrap/_type.less";
//@import "bootstrap/_code.less";
@import "bootstrap/_grid.less";
//@import "bootstrap/_tables.less";
@import "bootstrap/_forms.less";
@import "bootstrap/_buttons.less";

// Components
@import "bootstrap/_component-animations.less";
//@import "bootstrap/_dropdowns.less";
@import "bootstrap/_button-groups.less";
@import "bootstrap/_input-groups.less";
@import "bootstrap/_navs.less";
//@import "bootstrap/_navbar.less";
@import "bootstrap/_breadcrumbs.less";
//@import "bootstrap/_pagination.less";
//@import "bootstrap/_pager.less";
//@import "bootstrap/_labels.less";
//@import "bootstrap/_badges.less";
//@import "bootstrap/_jumbotron.less";
//@import "bootstrap/_thumbnails.less";
@import "bootstrap/_alerts.less";
//@import "bootstrap/_progress-bars.less";
//@import "bootstrap/_media.less";
//@import "bootstrap/_list-group.less";
//@import "bootstrap/_panels.less";
@import "bootstrap/_responsive-embed.less";
//@import "bootstrap/_wells.less";
//@import "bootstrap/_close.less";

// Components w/ JavaScript
@import "bootstrap/_modals.less";
@import "bootstrap/_tooltip.less";
@import "bootstrap/_popovers.less";
//@import "bootstrap/_carousel.less";

// Utility classes
@import "bootstrap/_utilities.less";
@import "bootstrap/_responsive-utilities.less";


// Assets
@import "owl/_owl.carousel.less";
@import "owl/_owl.theme.less";
@import "owl/_owl.transitions.less";


// windows phone fix
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}


/* I C O N S
-------------------------------*/

@import "sections/_icons.less";


/* G L O B A L S
-------------------------------*/

//@import "sections/_sitehead.less";
@import "sections/_sitefoot.less";
@import "sections/_cookiepolicy.less";
@import "sections/_jssocial.less";
@import "sections/_newsletterpopup.less";


/* Variables and overrides */
@brand-primary: #333;
@mobilenav-bg: #243840;
// @brand-secondary: #8ec89b;
@brand-secondary: #467447;
@brand-third: #72BA6F;
@brand-cta: @brand-secondary;
// @bg-gray:	#f5f5f5;
@bg-gray:	#fafcfa;
@bg-gray-dark:	#D6D6D6;


@breadcrumb-bg: transparent;
@font-size-base: 16px;
@border-radius-base: 2px;

body{

}
img{
	max-width: 100%;
	height: auto;
}
body{
	// font-family: 'Playfair Display', serif;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background: #fff;
	overflow-x: hidden;
}
h1,h2,h3{
	font-weight: 700;
}
strong{
	font-weight: 900;
}
body, html{
	height: 100%;
	min-height: 100%;
}
iframe{
	// width: 100%;
	border:0 none;
	height: 100%;
	width: auto!important;
}


.subpage #sitehead{
	background: #fff;
}

.subpage #sitecontent{
	padding-top: 80px;
}

#sitecontent{
	//background: url('../img/marmor.jpg') no-repeat top center;
	//background-size: cover;
	// background:#fff url('../img/kd-pattern.gif') repeat;
}
.productpage,
.addresspage,
.paymentpage,
.thankspage,
.basketpage{
	#sitecontent{
		background: #fff;
	}
}

.closebtn{
	position: absolute;
}

.section-header{
	text-align: center;
	margin: 0 0 30px 0;
}

.page404{
	text-align: center;
	@media(min-width:@screen-md){
		text-align: left;
	}
	.logotop404{
		padding:20px 0;
		img{
			width: 80%;
			max-width: 370px;
			@media(min-width:@screen-sm){
				width: auto;
			}
		}
		@media(min-width:@screen-md){
			padding:50px 0;
		}
	}
	.text404{
		padding-top:20px;
		@media(min-width:@screen-md){
			padding-top:120px;
		}
	}
}

.page-images{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	@media(max-width:@screen-xs-max){
		height: 150px
	}
	@media(min-width:@screen-sm){
		height: 300px;
	}
	@media(min-width:@screen-md){
		height: 400px;
	}
}
/* N A V I G A T I O N
-------------------------------*/
//@import "sections/_navigation.less";
@import "sections/_search.less";
@import "sections/_megadrop.less";
@import "sections/_checkout_indicator.less";

/* B A S K E T
-------------------------------*/
@import "sections/_basketoverlay.less";

/* P R O D U C T S 'N L I S T S
-------------------------------*/
@import "sections/_product-list.less";
@import "sections/_product-list-filter.less";
@import "sections/_product.less";

/* P E R S U A S I O N  B O X
-------------------------------*/
@import "sections/_persuasion.less";

/* B R E A D C R U M B S
-------------------------------*/
@import "sections/_breadcrumbs.less";

/* F R O N T P A G E
-------------------------------*/
@import "sections/_brandhero.less";
@import "sections/_categorylist.less";
@import "sections/_brandslider.less";
@import "sections/_instafeed.less";

/* C H E C K O U T
-------------------------------*/
@import "sections/_checkout-pages.less";

button{
	outline: none;
	&:focus{
		outline: none;
	}
}
/* CH E C K  O U T  F L O W
-------------------------------*/
#checkout-content{
	padding: 30px 0;
	&.btn-default{
		margin-bottom: 10px;
		width: 100%;
	}
}

#checkout-next-btn{
	width: 100%;
	border-radius: @border-radius-base;
	background-color: @brand-secondary;
	border: none;
	@media(min-width:@screen-sm){
		width: auto;
		float: right;
	}
	&:hover{
		background: #59945a;
		border-color: #467447;
	}
}
@import "sections/_basket.less";
@import "sections/_address.less";

